<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/_all.css}">
	<script type="text/javascript" src="/qln/public/js/qln/app/KeHoach/KeHoachVay03NamCTView.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/KeHoachVay03Nam.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/TinhThanh.js"></script>
	<script src="/qln/public/skinqln/js/validate.js"></script>
	<script type="text/javascript">
		var oKeHoachVay03NamCTView = new KeHoachVay03NamCTView();
		var id = 4
		$(document).ready(function () {
			$("input[data-type='currency']").on({
                keyup: function() {
                formatCurrency($(this));
                },
                blur: function() { 
                formatCurrency($(this), "blur");
                }
            });
            function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
            function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.      
            // get input value
            var input_val = input.val();      
            // don't validate empty input
            if (input_val === "") { return; }  
            // original length
            var original_len = input_val.length;
            // initial caret position 
            var caret_pos = input.prop("selectionStart");              
            // check for decimal
            if (input_val.indexOf(".") >= 0) {
                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");
                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);
                // add commas to left side of number
                left_side = formatNumber(left_side);
                // validate right side
                right_side = formatNumber(right_side);           
                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                right_side += "";
                }            
                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);
                // join number by .
                input_val = "" + left_side + "." + right_side;
            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "" + input_val;
                // final formatting
                if (blur === "blur") {
                input_val += "";
                }
            }
            // send updated string to input
            input.val(input_val);
            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
            }
			var date = moment(); //Get the current date
			var year = date.format("YYYY")
			var ngayQuyetDinh = date.format("DD/MM/YYYY")
			var sum = parseInt(year) + 1
			var sum1 = parseInt(year) + 4
			$("#NAMBATDAU").val(sum)
			$("#NAMKETTHUC").val(sum1)
			$('#NGAYQUYETDINH').val(ngayQuyetDinh)
			var selectNam = '<select class="NAM" id="NAM" data-index=0"' + '">' +
				'<option value="NAM1" selected >Năm thứ nhất</option>' +
				'<option value="NAM2">Năm thứ hai</option>' +
				'<option value="NAM3">Năm thứ ba</option>'
			'</select>'
			var selectNam1 = '<select class="NAM" id="NAM" data-index=1"' + '">' +
				'<option value="NAM1">Năm thứ nhất</option>' +
				'<option value="NAM2" selected>Năm thứ hai</option>' +
				'<option value="NAM3">Năm thứ ba</option>'
			'</select>'
			var selectNam2 = '<select class="NAM" id="NAM" data-index=2"' + '">' +
				'<option value="NAM1">Năm thứ nhất</option>' +
				'<option value="NAM2">Năm thứ hai</option>' +
				'<option value="NAM3" selected>Năm thứ ba</option>'
			'</select>'
			var selectNguonvon = '<select class="NGUONVAY" id="NGUONVAY" data-index=1"' + '">' +
				'<option value="VAYODA" selected >Vay ODA</option>' +
				'<option value="VAYUUDAI">Vay ưu đãi</option>' +
				'<option value="VAYTRAIPHIEU">Vay trái phiếu CQĐP</option>' +
				'<option value="VAYKHAC">Vay khác</option>' +
				'</select>'

			var elemnt = '<tr class="input-table" id="element-1' + '"><td>' + selectNam + '</td><td>' + selectNguonvon + '</td><td><input type="text" class="SOTIENVAY" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"></td><td><input type="text" class="SOTIENTRA" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"></td><td><input type="text" class="NGUONTRA"></td><td><input type="text" class="GHICHU"></td><td><button class="btn btn-danger button-clear" id="element-1' + '">Xóa</button></td></tr>';
			var elemnt1 = '<tr class="input-table" id="element-2' + '"><td>' + selectNam1 + '</td><td>' + selectNguonvon + '</td><td><input type="text" class="SOTIENVAY" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"></td><td><input type="text" class="SOTIENTRA" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"></td><td><input type="text" class="NGUONTRA"></td><td><input type="text" class="GHICHU"></td><td><button class="btn btn-danger button-clear" id="element-2' + '">Xóa</button></td></tr>';
			var elemnt2 = '<tr class="input-table" id="element-3' + '"><td>' + selectNam2 + '</td><td>' + selectNguonvon + '</td><td><input type="text" class="SOTIENVAY" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"></td><td><input type="text" class="SOTIENTRA" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"></td><td><input type="text" class="NGUONTRA"></td><td><input type="text" class="GHICHU"></td><td><button class="btn btn-danger button-clear" id="element-3' + '">Xóa</button></td></tr>';
			$('#table-multi').append(elemnt)
			$('#table-multi').append(elemnt1)
			$('#table-multi').append(elemnt2)
			$('#ActionThemMoi').click(function () {
				var elemnt = '<tr class="input-table" id="element-' + id + '"><td>' + selectNam + '</td><td>' + selectNguonvon + '</td><td><input type="text" class="SOTIENVAY" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"></td><td><input type="text" class="SOTIENTRA" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"></td><td><input type="text" class="NGUONTRA"></td><td><input type="text" class="GHICHU"></td><td><button class="btn btn-danger button-clear" id="element-' + id + '">Xóa</button></td></tr>';
				$('#table-multi').append(elemnt)
				id++
			})

			$('body').on('click', '.button-clear', function () {
				var id = $(this).attr('id')
				$('tr#' + id).remove()
			})
			// $('body').on('click', '#upload', function () {
			// 	window.open("http://localhost:8017/")
			// })
			$('body').on('keyup', '.SOTIENVAY', function(){
				// Jquery Dependency
                $("input[data-type='currency']").on({
                keyup: function() {
                formatCurrency($(this));
                },
                blur: function() { 
                formatCurrency($(this), "blur");
                }
                });
                function formatNumber(n) {
                // format number 1000000 to 1,234,567
                return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
                function formatCurrency(input, blur) {
                // appends $ to value, validates decimal side
                // and puts cursor back in right position.      
                // get input value
                var input_val = input.val();      
                // don't validate empty input
                if (input_val === "") { return; }  
                // original length
                var original_len = input_val.length;
                // initial caret position 
                var caret_pos = input.prop("selectionStart");              
                // check for decimal
                if (input_val.indexOf(".") >= 0) {
                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");
                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);
                // add commas to left side of number
                left_side = formatNumber(left_side);
                // validate right side
                right_side = formatNumber(right_side);           
                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                right_side += "";
                }            
                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);
                // join number by .
                input_val = "" + left_side + "." + right_side;
                } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "" + input_val;
                // final formatting
                if (blur === "blur") {
                input_val += "";
                }
                }
                // send updated string to input
                input.val(input_val);
                // put caret back in the right position
                var updated_len = input_val.length;
                caret_pos = updated_len - original_len + caret_pos;
                input[0].setSelectionRange(caret_pos, caret_pos);
                }
			})
			$('body').on('keyup', '.SOTIENTRA', function(){
				// Jquery Dependency
                $("input[data-type='currency']").on({
                keyup: function() {
                formatCurrency($(this));
                },
                blur: function() { 
                formatCurrency($(this), "blur");
                }
                });
                function formatNumber(n) {
                // format number 1000000 to 1,234,567
                return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
                function formatCurrency(input, blur) {
                // appends $ to value, validates decimal side
                // and puts cursor back in right position.      
                // get input value
                var input_val = input.val();      
                // don't validate empty input
                if (input_val === "") { return; }  
                // original length
                var original_len = input_val.length;
                // initial caret position 
                var caret_pos = input.prop("selectionStart");              
                // check for decimal
                if (input_val.indexOf(".") >= 0) {
                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");
                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);
                // add commas to left side of number
                left_side = formatNumber(left_side);
                // validate right side
                right_side = formatNumber(right_side);           
                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                right_side += "";
                }            
                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);
                // join number by .
                input_val = "" + left_side + "." + right_side;
                } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "" + input_val;
                // final formatting
                if (blur === "blur") {
                input_val += "";
                }
                }
                // send updated string to input
                input.val(input_val);
                // put caret back in the right position
                var updated_len = input_val.length;
                caret_pos = updated_len - original_len + caret_pos;
                input[0].setSelectionRange(caret_pos, caret_pos);
                }
			})
			$('#upload1').change(function (e) {
			})
			$('#submit').click(function(){
				const data = new FormData()
				if(this.file)
				{
					data.append('file', this.file)
				}
			})
		})
	</script>
	<script src="jquery.js"></script>
    <script src="jquery.validate.js"></script>
	<style>
		.input-table input,
		.input-table select {
			border: 1px solid #2a9bf5;
			box-shadow: none;
			width: 100%;
			min-height: 25px;
			border-radius: 3px;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="row" id="FORM">
				<div class="row">
					<div class="col-sm-2"><label>Mã kế hoạch<span class="require">(*)</span></label></div>
					<div class="col-sm-4">
						<input type="text" class="form-control validate-form" name="MA" id="MA" value="" />
					</div>
					<div class="col-sm-2"><label>Tên kế hoạch</label></div>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="TEN" id="TEN" value="" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2"><label>Năm bắt đầu</label></div>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="NAMBATDAU" id="NAMBATDAU" value="" />
					</div>
					<div class="col-sm-2"><label>Năm kết thúc</label></div>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="NAMKETTHUC" id="NAMKETTHUC" value="" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2"><label>Ngày quyết định</label></div>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control wec-control-date" value="" id="NGAYQUYETDINH"
								name="NGAYQUYETDINH" autocomplete="off" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" onclick="$('#NGAYQUYETDINH').focus()"><i
										class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
					<div class="col-sm-2"><label>Tỉnh/Thành phố</label></div>
					<div class="col-sm-4">
						<select id="TINHTHANHID" class="form-control">
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2"><label>Hạn mức vay</label></div>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" id="HANMUCVAY" name="HANMUCVAY" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"
								autocomplete="off" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default">VNĐ</button>
							</span>
						</div>
					</div>
					<div class="col-sm-2"><label>Dư nợ vay</label></div>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" id="DUNOVAY" name="DUNOVAY" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"
								autocomplete="off" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default">VNĐ</button>
							</span>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<button type="submit" id="" class="btn btn-primary">Upload file</button>
				</div> -->
				<!-- <div class="row">
					<input type="file" id='upload1'>
					<button id="submit" class="btn btn-primary">Upload</button>
				</div> -->
				<div class="row panel panel-primary" id="LIST" style="margin-top: 20px;">
					<div class="panel-body">
						<div class="row">
							<div class="">
								<table class="table table-striped table-bordered table-hover table-columned text-center"
									style="border: 1px; background: oldlace">
									<thead>
										<tr>
											<td>Năm</td>
											<td>Nguồn vay</td>
											<td>Số tiền dự kiến vay</td>
											<td>Số tiền dự kiến trả</td>
											<td>Nguồn trả</td>
											<td>Ghi chú</td>
											<td><button type="button" class="btn btn-info" id="ActionThemMoi">
													Thêm</button></td>
										</tr>
									</thead>
									<tbody id='table-multi'>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ACTIONS" style="padding:10px; margin-top:0px; margin-left: 1020px">
				<button style="margin-right: -7px; float: right;" type="button" class="btn btn-info btn-sm"
					id="btnSave"><i class="glyphicon glyphicon-save"></i>
					Lưu</button>
			</div>
		</div>
	</div>
</body>

</html>