<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-3 pull-left text-center">
				<strong>
					ỦY BAN NHÂN DÂN TỈNH/<br>
					THÀNH PHỐ…….<br>
					-----------<br>
				</strong>
				Số: …..<br>
				V/v: Báo cáo kết quả mua lại, hoán đổi trái phiếu <br>
				chính quyền địa phương
	
			</div>
			<div class="col-sm-9 text-center">   
				<strong>
					CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM <br>
					Độc lập - Tự do - Hạnh phúc <br>
					------------<br><br>
				</strong>
				<i>
					…….., ngày ….. tháng ….. năm…….
				</i>
			</div>
			<div class="text-center col-sm-12">
				<label class="text-center">
					Kính gửi: Bộ Tài chính. <br>
					Căn cứ quy định …………., Ủy ban nhân dân tỉnh/thành phố báo cáo về kết quả phát hành trái phiếu chính quyền địa phương như sau:
				</label>
				<br />
			</div>
	
			<div class="col-sm-12">
				<div>
					<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
					<ol>
						<li>
							<p><span style="font-weight: 400;">Căn cứ quy định&nbsp;&hellip;&hellip;&hellip;&hellip;&hellip;.,&nbsp;</span><span style="font-weight: 400;">Ủy ban</span><span style="font-weight: 400;">&nbsp;nh&acirc;n d&acirc;n tỉnh/th&agrave;nh phố b&aacute;o c&aacute;o kết quả mua lại,&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi tr&aacute;i phiếu ch&iacute;nh quyền địa phương như sau:</span></p>
							<ol>
								<li><span style="font-weight: 400;"> Kế hoạch mua lại,&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">đổi tr&aacute;i phiếu</span></li>
							</ol>
							<p><span style="font-weight: 400;">-&nbsp;Điều&nbsp;kiện,&nbsp;điều khoản&nbsp;của tr&aacute;i phiếu được mua lại hoặc tr&aacute;i phiếu bị&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi, được&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi.</span></p>
							<p><span style="font-weight: 400;">- Dự kiến hạn mức vay nợ của ng&acirc;n s&aacute;ch cấp tỉnh sau khi thực hiện mua lại hoặc&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi tr&aacute;i phiếu.</span></p>
							<ol start="2">
								<li><span style="font-weight: 400;"> Kết quả mua lại,&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">đổi tr&aacute;i phiếu</span></li>
							</ol>
							<p><span style="font-weight: 400;">- M&atilde; v&agrave; khối lượng&nbsp;tr&aacute;i phiếu được mua lại hoặc m&atilde; v&agrave; khối lượng&nbsp;tr&aacute;i phiếu bị&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi; m&atilde; v&agrave; khối lượng tr&aacute;i phiếu được&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi.</span></p>
							<p><span style="font-weight: 400;">- Gi&aacute; mua lại tr&aacute;i phiếu hoặc gi&aacute; tr&aacute;i phiếu bị&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi, gi&aacute; tr&aacute;i phiếu được&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi tương ứng với từng m&atilde; tr&aacute;i phiếu.</span></p>
							<p><span style="font-weight: 400;">- L&atilde;i suất mua lại hoặc l&atilde;i suất&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi tr&aacute;i phiếu tương ứng với từng m&atilde; tr&aacute;i phiếu.</span></p>
							<p><span style="font-weight: 400;">- Dư&nbsp;nợ tr&aacute;i phiếu ch&iacute;nh quyền địa phương sau khi thực hiện mua lại,&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi.</span></p>
							<p><span style="font-weight: 400;">- Hạn mức vay nợ của ng&acirc;n s&aacute;ch cấp tỉnh sau khi thực hiện mua lại,&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">&nbsp;đổi.</span></p>
						</li>
					</ol>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3 pull-left text-center">
					<strong>
						Nơi nhận:<br />
					</strong>
					- Như trên<br />
					- Lưu:…..<br />
	
	
				</div>
				<div class="col-sm-9 text-center">
					<strong>
						TM. ỦY BAN NHÂN DÂN TỈNH/<br />
						THÀNH PHỐ<br />
	
					</strong>
					<i>(Ký, ghi rõ họ tên và đóng dấu)</i>
	
				   
				</div>
			</div>
		</div>
	</div>
</body>

</html>