<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-3 pull-left text-center">
				<strong>
					ỦY BAN NHÂN DÂN TỈNH/<br>
					THÀNH PHỐ…….<br>
					-----------<br>
				</strong>
				<br />
				Số: …..<br>
				V/v Báo cáo định kỳ năm .... về tình hình <br>
				huy động và trả nợ gốc, lãi trái phiếu
			</div>
			<div class="col-sm-9 text-center">
				<strong>
					CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM <br>
					Độc lập - Tự do - Hạnh phúc <br>
					------------<br><br>
				</strong>
				<i>
					…….., ngày ….. tháng ….. năm…….
				</i>
			</div>
			<div class="text-center col-sm-12">
				<br /><br />
				<div class="text-center">
					Kính gửi: Bộ Tài Chính.
				</div>
				<br />
			</div>
			<div class="col-sm-12" style="margin-left:20px">
				Căn cứ quy định ............, Ủy ban nhân dân tỉnh/thành phố báo cáo về tình tình huy động và trả nợ gốc, lãi trái phiếu chính quyền địa phương như sau: <br>
				1. Số dư trái phiếu chính quyền địa phương đầu kỳ ..... tỷ đồng.<br>
				2. Số phát hành trái phiếu chính quyền địa phương trong năm ....<br>
				- Kỳ hạn 2 năm, khối lượng .... tỷ đồng.<br>
				- Kỳ hạn 3 năm, khối lượng .... tỷ đồng.<br>
				- Kỳ hạn 5 năm, khối lượng .... tỷ đồng.<br>
				....<br>
				3. Tình hình thanh toán gốc, lãi trong kỳ:<br>
				- Trả nợ gốc: .... tỷ đồng (thời điểm thanh toán)<br>
				- Trả nợ lãi: .... tỷ đồng (thời điểm thanh toán)<br>
				4. Số dư trái phiếu chính quyền địa phương cuối kỳ .... tỷ đồng.
				<br />
				<div class="col-sm-3 pull-left">
					<strong>
						<i>Nơi nhận:</i><br />
					</strong>
					- Như trên<br />
					- Lưu:…..<br />
	
	
				</div>
				<div class="col-sm-9 text-center">
					<strong>
						TM. ỦY BAN NHÂN DÂN TỈNH/<br />
						THÀNH PHỐ<br />
	
					</strong>
					<i>(Ký, ghi rõ họ tên và đóng dấu)</i>
	
	
				</div>
			</div>
		</div>
	</div>
</body>

</html>