<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
	<script type="text/javascript" src="/qln/public/js/qln/model/BCND97.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/HoanDoiTP.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/MuaLaiTP.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/app/ulti/format.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/app/ulti/Ulti.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			// $("#titlebc").text("BÁO CÁO TỪNG ĐỢT PHÁT HÀNH TRÁI PHIẾU CHÍNH QUYỀN ĐỊA PHƯƠNG")
			var oMuaLai = new MuaLaiTP();
			var oHoanDoi = new HoanDoiTP();
			var oBCND97 = new BCND97();
			oMuaLai.getAll();
			if (oMuaLai.LIST.length == 0) {
				$("#tblDanhSach").hide()
			}
			else {
				$("#tblDanhSach").show()
			}
			oHoanDoi.getAll();
			if (oHoanDoi.LIST.length == 0) {
				$("#tblDanhSach1").hide()
			}
			else {
				$("#tblDanhSach1").show()
			}
			let ngaybatdau = Util.Url.getParameterByName('namquyetdinh')
			let namph = Util.Url.getParameterByName('namquyetdinh')
			let tinhthanhid = Number(Util.Url.getParameterByName('tinhthanh'))
			var tentinhthanh = Util.Url.getParameterByName('tentinhthanh')
			var dvt = Number(Util.Url.getParameterByName('dvt'))
			var tendvt = Util.Url.getParameterByName('tendvt')
			$("#dvt").text(tendvt)
			$("#tinhthanhid").text(tentinhthanh)
			$("#tentinhthanh").text(tentinhthanh)
			var labelTinhThanh = tentinhthanh.replace('Thành phố', '').replace('Tỉnh', '').replace('UBND', '')
			$("#txtTinhThanh").text(labelTinhThanh)
			var ngay = fnc_ngayhientai().split("-")[2]
			var thang = fnc_ngayhientai().split("-")[1]
			var nam = fnc_ngayhientai().split("-")[0]
			$("#txtNgay").text(ngay)
			$("#txtThang").text(thang)
			$("#txtNam").text(nam)
			var dt = {
				tinhthanhid,
				ngaybatdau,
				dvt
			}
			var listml = oBCND97.getMualai(dt);
			var listhd = oBCND97.getHoanDoi(dt);
			console.log(listml, 'listml');
			console.log(listhd, 'listhd');
			var opti = ''
			for (i = 0; i < listml.length; i++) {
				opti = opti + '<tr>\
					<td colspan="4">'+ (i + 1) + '</td>\
					<td colspan="4">'+ listml[i].TEN + '</td>\
					<td colspan="4">'+ chuyentien(listml[i].KHOILUONG) + '</td>\
					<tr>'
			}
			$("#tblDanhSach tbody").append(opti)
			var optionhd = ''
			for (i = 0; i < listhd.length; i++) {
				optionhd = optionhd + '<tr>\
					<td colspan="4">'+ (i + 1) + '</td>\
					<td colspan="4">'+ listhd[i].TEN + '</td>\
					<td colspan="4">'+ chuyentien(listhd[i].KHOILUONG) + '</td>\
					<tr>'
			}
			$("#tblDanhSach1 tbody").append(optionhd)
		})
	</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<button class="btn btn-primary" id="exportExcell">Kết xuất excel</button>
			<table id='tableDanhsachParent' class="table table-striped text-center"
				style="width: 100%; border: none; border: 1">
				<tr>
					<td colspan="12" style="border: none;">
						<table style="width: 100%; border: none;">
							<tr>
								<td class="size14 inhoa" colspan="5" s style="border: none;"><label
										style="font-weight: bold;font-size: 17px !important;" id="tentinhthanh"></label>
								</td>
								<td class="size14 inhoa" colspan="5" style="text-align: center !important;">CỘNG HÒA XÃ
									HỘI CHỦ
									NGHĨA
									VIỆT NAM</td>
							</tr>
							<tr>
								<td class="size14" colspan="5">***********</td>

								<td class="size14" colspan="5" style="text-align: center !important">Độc lập - Tự do -
									Hạnh phúc
								</td>
							</tr>
							<tr>
								<td class="size14" colspan="5">Số: </td>

								<td class="size14" colspan="5" style="text-align: center !important">***********</td>
							</tr>
							<tr>
								<td class="size14" colspan="8" style="text-align: center !important"></td>
							</tr>
							<tr>
								<td class="size14" colspan="5">V/v Báo cáo kết quả phát hành trái phiếu</td>
								<td class="size14" colspan="5" style="text-align: center !important"><i>
										<i id="txtTinhThanh"></i>, ngày <i id="txtNgay"></i>, tháng <i
											id="txtThang"></i>, năm <i id="txtNam"></i>
									</i></i>
								</td>
							</tr>
							<br>
							<tr>
								<td class="size14" colspan="10"><label
										style="font-weight: bold;font-size: 17px !important;font-family: Times New Roman, Times, serif;"
										id="titlebc"></label></td>
							</tr>
							<!-- <tr>
												<td class="size14" colspan="9" style="text-align: right !important"> Đơn vị: <label
														id="donvitinh"></label></td>
												<td></td>
											</tr> -->
							<tr>
								<td></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="border: none;">
					<td class="size14 inhoa" colspan="12" style="border: none;text-align: center">
						BÁO CÁO KẾT QUẢ MUA LẠI, HOÁN ĐỔI TRÁI PHIẾU CHÍNH QUYỀN ĐỊA PHƯƠNG
					</td>
				</tr>
				<br>
				<tr style="border: none;">
					<td class="size14" colspan="10" style="border: none;">
						<div style="float: right;">Đơn vị: <span id="dvt"></span></div>
					</td>
				</tr>
				<tr style="border: none;">
					<td class="size14" colspan="12" style="border: none;text-align: left">
						Kế hoạch mua lại, hoán đổi trái phiếu
					</td>
				</tr>
				<tr style="border: none;">
					<td class="size14" colspan="12" style="border: none;  float: left;font-size: 16px;">
						a, Mua lại trái phiếu
					</td>
				</tr>
				<tr style="border: none;">
					<td class="size14" colspan="12" style="border: none;">
						<table class="table table-striped table-bordered table-hover table-columned text-center"
							id="tblDanhSach" style="border: 1px  solid gray" border="1">
							<thead>
								<tr>
									<td colspan="4">STT</td>
									<td colspan="4" style="text-align: center">Đề án phát hành trái phiếu</td>
									<td colspan="4">Khối lượng mua lại</td>

								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						b, Hoán đổi trái phiếu
					</td>

				</tr>
				<tr>
					<td colspan="12" style="border: none;">
						<table class="table table-striped table-bordered table-hover table-columned text-center"
							id="tblDanhSach1" style="border: 1px solid gray; border: 1;">
							<thead>
								<tr>
									<td colspan="4">STT</td>
									<td colspan="4">Đề án phát hành trái phiếu</td>
									<td colspan="4">Khối lượng hoán đổi</td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						- Điều kiện, điều khoản của trái phiếu được mua lại hoặc trái phiếu bị hoán đổi, được hoán đổi.
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						- Dự kiến hạn mức vay nợ của ngân sách cấp tỉnh sau khi thực hiện mua lại hoặc hoán đổi trái
						phiếu.
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						Kết quả mua lại, hoán đổi trái phiếu
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						- Mã và khối lượng trái phiếu được mua lại hoặc mã và khối lượng trái phiếu bị hoán đổi; mã và
						khối lượng trái phiếu được hoán đổi.
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						- Giá mua lại trái phiếu hoặc giá trái phiếu bị hoán đổi, giá trái phiếu được hoán đổi tương ứng
						với từng mã trái phiếu.
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						- Lãi suất mua lại hoặc lãi suất hoán đổi trái phiếu tương ứng với từng mã trái phiếu.
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						- Dư nợ trái phiếu chính quyền địa phương sau khi thực hiện mua lại, hoán đổi.
					</td>
				</tr>
				<tr>
					<td class="size14" colspan="5" style="border: none;text-align: left">
						- Hạn mức vay nợ của ngân sách cấp tỉnh sau khi thực hiện mua lại, hoán đổi.
					</td>
				</tr>
				<tr style="border: none;">
					<td colspan="12" style="border: none;width: 100%;">
						<table style="width: 100%; border: none;">
							<tr style="border: none;">
								<td colspan="6" style="border: none; text-align: center;font-size: 14px !important">
									<strong>
										Nơi nhận:<br />
									</strong>
									- Như trên<br />
									- Lưu:…..<br />
								</td>
								<td colspan="6" style="border: none; text-align: center;font-size: 14px !important">
									<strong>
										TM. ỦY BAN NHÂN DÂN TỈNH/<br />
										THÀNH PHỐ<br />

									</strong>
									<i>(Ký, ghi rõ họ tên và đóng dấu)</i>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<!-- <div class="row">
			<div class="col-sm-3 pull-left text-center">
				<strong>
					ỦY BAN NHÂN DÂN TỈNH/<br>
					THÀNH PHỐ…….<br>
					-----------<br>
				</strong>
				Số: …..<br>
				V/v: Báo cáo kết quả mua lại, hoán đổi trái phiếu <br>
				chính quyền địa phương

			</div>
			<div class="col-sm-9 text-center">
				<strong>
					CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM <br>
					Độc lập - Tự do - Hạnh phúc <br>
					------------<br><br>
				</strong>
				<i>
					…….., ngày ….. tháng ….. năm…….
				</i>
			</div>
			<div class="text-center col-sm-12">
				<label class="text-center">
					Kính gửi: Bộ Tài chính. <br>
					Căn cứ quy định …………., Ủy ban nhân dân tỉnh/thành phố báo cáo về kết quả phát hành trái phiếu chính
					quyền địa phương như sau:
				</label>
				<br />
			</div>

			<div class="col-sm-12">
				<div>
					<ol>
						<li>
							<p><span style="font-weight: 400;">Căn cứ quy
									định&nbsp;&hellip;&hellip;&hellip;&hellip;&hellip;.,&nbsp;</span><span
									style="font-weight: 400;">Ủy ban</span><span
									style="font-weight: 400;">&nbsp;nh&acirc;n d&acirc;n tỉnh/th&agrave;nh phố
									b&aacute;o c&aacute;o kết quả mua lại,&nbsp;</span><span
									style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi tr&aacute;i phiếu ch&iacute;nh quyền địa phương
									như sau:</span></p>
							<ol>
								<li><span style="font-weight: 400;"> Kế hoạch mua lại,&nbsp;</span><span
										style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">đổi
										tr&aacute;i phiếu</span></li>
								<li>a, Mua lại trái phiếu</li>	
								<table class="table table-striped table-bordered table-hover table-columned text-center"
									id="tblDanhSach">

									<thead>
										<tr>
											<td>STT</td>
											<td>Đề án phát hành trái phiếu</td>
											<td>Khối lượng mua lại</td>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
								<br>
								<li>b, Hoán đổi trái phiếu</li>
								<table class="table table-striped table-bordered table-hover table-columned text-center"
									id="tblDanhSach1">

									<thead>
										<tr>
											<td>STT</td>
											<td>Đề án phát hành trái phiếu</td>
											<td>Khối lượng hoán đổi</td>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</ol>
							<p><span style="font-weight: 400;">-&nbsp;Điều&nbsp;kiện,&nbsp;điều khoản&nbsp;của
									tr&aacute;i phiếu được mua lại hoặc tr&aacute;i phiếu bị&nbsp;</span><span
									style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi, được&nbsp;</span><span
									style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi.</span></p>
							<p><span style="font-weight: 400;">- Dự kiến hạn mức vay nợ của ng&acirc;n s&aacute;ch cấp
									tỉnh sau khi thực hiện mua lại hoặc&nbsp;</span><span
									style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi tr&aacute;i phiếu.</span></p>
							<ol start="2">
								<li><span style="font-weight: 400;"> Kết quả mua lại,&nbsp;</span><span
										style="font-weight: 400;">ho&aacute;n</span><span style="font-weight: 400;">đổi
										tr&aacute;i phiếu</span></li>
							</ol>
							<p><span style="font-weight: 400;">- M&atilde; v&agrave; khối lượng&nbsp;tr&aacute;i phiếu
									được mua lại hoặc m&atilde; v&agrave; khối lượng&nbsp;tr&aacute;i phiếu
									bị&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi; m&atilde; v&agrave; khối lượng tr&aacute;i
									phiếu được&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi.</span></p>
							<p><span style="font-weight: 400;">- Gi&aacute; mua lại tr&aacute;i phiếu hoặc gi&aacute;
									tr&aacute;i phiếu bị&nbsp;</span><span
									style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi, gi&aacute; tr&aacute;i phiếu
									được&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi tương ứng với từng m&atilde; tr&aacute;i
									phiếu.</span></p>
							<p><span style="font-weight: 400;">- L&atilde;i suất mua lại hoặc l&atilde;i
									suất&nbsp;</span><span style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi tr&aacute;i phiếu tương ứng với từng m&atilde;
									tr&aacute;i phiếu.</span></p>
							<p><span style="font-weight: 400;">- Dư&nbsp;nợ tr&aacute;i phiếu ch&iacute;nh quyền địa
									phương sau khi thực hiện mua lại,&nbsp;</span><span
									style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi.</span></p>
							<p><span style="font-weight: 400;">- Hạn mức vay nợ của ng&acirc;n s&aacute;ch cấp tỉnh sau
									khi thực hiện mua lại,&nbsp;</span><span
									style="font-weight: 400;">ho&aacute;n</span><span
									style="font-weight: 400;">&nbsp;đổi.</span></p>
						</li>
					</ol>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3 pull-left text-center">
					<strong>
						Nơi nhận:<br />
					</strong>
					- Như trên<br />
					- Lưu:…..<br />


				</div>
				<div class="col-sm-9 text-center">
					<strong>
						TM. ỦY BAN NHÂN DÂN TỈNH/<br />
						THÀNH PHỐ<br />

					</strong>
					<i>(Ký, ghi rõ họ tên và đóng dấu)</i>


				</div>
			</div>
		</div> -->
	</div>
</body>

</html>