<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>

    <script type="text/javascript" th:src="@{/public/libs/datatable/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/libs/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/qln/core/DataHelper.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/qln/core/ControlHelper.js}"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/BCQuanTri.js"></script>
    <script th:src="@{/public/libs/numeral.min.js}"></script>
    <script type="text/javascript" src="/qln/public/js/qln/app/ulti/exportExcell.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/app/ulti/format.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/app/ulti/Ulti.js"></script>
    <script type="text/javascript">
        var BCQuanTri = new BCQuanTri()
        $(document).ready(function () {
            var oDataTB = ControlHelper.Datatable.Init('tblDanhSach', 25, true)
            var i_bien = window.location.search
            let i_bien_i = i_bien.split('&')
            $('#tendvt').html(decodeURIComponent(i_bien_i[1].split('=')[1]))
            $('#top_Tinh').html(decodeURIComponent(i_bien_i[0].split('=')[1]))
            let dvt = Util.Url.getParameterByName('dvt')
            var dataPost = {
                i_tinhthanh: Number(i_bien_i[5].split('=')[1]),
                i_nambd: Number(i_bien_i[3].split('=')[1].split('/')[2]),
                i_namkt: Number(i_bien_i[4].split('=')[1].split('/')[2]),
                i_dvt: Number(dvt)
            }
            var res = BCQuanTri.getDataReportTongHopLuyKeCapPhat(dataPost)
            var arows = []
            var name = ''
            if (res.length > 0) {
                var key = Object.keys(res[0])
                res.map(function (item, index) {
                    key.map(function (value) {
                        item[value] = typeof (item[value]) + '' === 'number' ? numeral(Number(item[value]).toFixed(2)).format('0,0') : item[value]
                    })
                    name = item.TENDUAN === null ? () => {
                        $('#top_Tinh').html(item.TENTINHTHANH.toUpperCase())
                        return item.TENTINHTHANH
                    } : item.TENDUAN
                    arows.push([(parseInt(index) + 1), name, item.KH_SOTIENVAY, item.KH_SOTIENCAPPHAT, item.LK_SOTIENVAY, item.LK_SOTIENCAPPHAT, item.SOSANHCHINHXAC_SOTIENVAY, item.SOSANHCHINHXAC_CAPPHAT, item.SOSANHTUONGDOI_SOTIENVAY, item.SOSANHTUONGDOI_SOTIENCAPPHAT])
                })
                oDataTB.rows.add(arows).draw()
            }
            $('#tblDanhSach_info').parent().parent().remove()
            $('#tblDanhSach_length').parent().parent().remove()
            $('#tblDanhSach tbody td').css('border', '1px solid gray')
            $('#tblDanhSach th').css('border', '1px solid gray')
            var rg_number = /^\d+$/
            $('td').each((index, el) => {
                typeof (Number($(el).html().replace(/,/g, ''))) + '' === "number" ? rg_number.test($(el).html().replace(/,/g, '')) ? $(el).css('text-align', 'right') : $(el).css('text-align', 'center') : $(el).css('text-align', 'center')
            })
            $('#exportExcell').click(function () {
                exportTableToExcel('tblDanhSach', 'BCTongHopLuyKeCapPhat')
            })
            let tentinhthanh = Util.Url.getParameterByName('tentinhthanh')
            let donvitinh = Util.Url.getParameterByName('donvitinh')
            $("#donvitinh").text(donvitinh)
            $("#titlebc").text("BÁO CÁO LŨY KẾ CẤP PHÁT CHI TIẾT TỪ NGÀY: " + Util.Url.getParameterByName('ngaybatdau') + " ĐẾN NGÀY: " + Util.Url.getParameterByName('ngayketthuc') + " ")
            $("#tinhthanhid").text(tentinhthanh)
            var labelTinhThanh = tentinhthanh.replace('Thành phố', '').replace('Tỉnh', '').replace('UBND', '')
            $("#txtTinhThanh").text(labelTinhThanh)
            $("#tentinhthanh").text(tentinhthanh)
            $("#thaymat").text(tentinhthanh)
            var ngay = fnc_ngayhientai().split("-")[2]
            var thang = fnc_ngayhientai().split("-")[1]
            var nam = fnc_ngayhientai().split("-")[0]
            $("#txtNgay").text(ngay)
            $("#txtThang").text(thang)
            $("#txtNam").text(nam)
        })
    </script>
    <style>
        #tblDanhSachs tr td:nth-child(2n-1) {
            text-align: center !important
        }

        #tblDanhSachs tr td:nth-child(4n-2) {
            text-align: left !important
        }

        #tblDanhSachs tr td:nth-child(6n-3) {
            text-align: right !important
        }

        #tblDanhSachs tr td:nth-child(8n-4) {
            text-align: right !important
        }

        #tblDanhSachs tr td:nth-child(10n-5) {
            text-align: right !important
        }

        #tblDanhSachs tr td:nth-child(12n-6) {
            text-align: right !important
        }

        #tblDanhSachs tr td:nth-child(14n-7) {
            text-align: right !important
        }

        #tblDanhSachs tr td:nth-child(16n-8) {
            text-align: right !important
        }

        #tblDanhSachs tr td:nth-child(18n-9) {
            text-align: right !important
        }

        #tblDanhSachs tr td:nth-child(20n-10) {
            text-align: right !important
        }
    </style>
    <!-- <style>
        .text-center th {
            height: 25px;
            line-height: 25px;
        }

        .text-center th[rowspan="3"] {
            line-height: 75px;
        }

        .text-center th[rowspan="2"] {
            line-height: 50px;
        }

        .text-center th,
        .text-center td {
            text-align: center;
        }

        td:nth-child(10n-8) {
            text-align: left !important;
        }

        td:first-child {
            text-align: center !important;
        }

        td:nth-child(10n) {
            text-align: center !important;
        }

        #tblDanhSach thead td {
            background-color: none !important;
            background: none !important;
            border: none !important;
        }
    </style> -->
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <button class="btn btn-primary" id="exportExcell">Kết xuất excel</button>
            <button class="btn btn-primary" onclick="window.print()">In báo cáo</button>

            <table id='tableDanhsachParent' class="table table-striped text-center"
                style="width: 100%; border: none; border: 1">
                <tr>
                    <td colspan="10" style="border: none;">
                        <table style="width: 100%; border: none;">
                            <tr>
                                <td class="size14 inhoa" colspan="5" s style="border: none;width: 50%"><label
                                        style="font-weight: bold;font-size: 17px !important;" id="tentinhthanh"></label>
                                </td>
                                <td class="size14 inhoa" colspan="5" style="text-align: center !important;width: 50%">
                                    CỘNG HÒA XÃ
                                    HỘI CHỦ
                                    NGHĨA
                                    VIỆT NAM</td>
                            </tr>
                            <tr>
                                <td class="size14" colspan="5">***********</td>

                                <td class="size14" colspan="5" style="text-align: center !important">Độc lập - Tự do -
                                    Hạnh phúc
                                </td>
                            </tr>
                            <tr>
                                <td class="size14" colspan="5">Số: </td>

                                <td class="size14" colspan="5" style="text-align: center !important">***********</td>
                            </tr>
                            <tr>
                                <td class="size14" colspan="8" style="text-align: center !important"></td>
                            </tr>
                            <tr>
                                <td class="size14" colspan="5">V/v Báo cáo lũy kế cấp phát chi tiết
                                </td>
                                <td class="size14" colspan="5" style="text-align: center !important"><i>
                                        <i id="txtTinhThanh"></i>, ngày <i id="txtNgay"></i>, tháng <i
                                            id="txtThang"></i>, năm <i id="txtNam"></i>
                                    </i></i>
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <td class="size14" colspan="10"><label
                                        style="font-weight: bold;font-size: 17px !important;font-family: Times New Roman, Times, serif;"
                                        id="titlebc"></label></td>
                            </tr>
                            <tr>
                                <td class="size14" colspan="10"> Đơn vị: <label
                                        id="donvitinh"></label></td> 
                            </tr> 
                        </table>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td colspan="12" style="border: none;">
                        <table class="table table-striped table-bordered table-hover table-columned text-center"
                            id="tblDanhSach" style="border: 1px  solid gray" border="1">
                            <thead>
                                <tr>
                                    <th rowspan="3"> STT</th>
                                    <th rowspan="3">Dự án</th>
                                    <th rowspan="1" colspan="2"> Kế hoạch vay</th>
                                    <th rowspan="1" colspan="2"> Lúy kế giải ngân thục tế</th>
                                    <th colspan="4">So sánh</th>
                                </tr>
                                <tr>
                                    <th rowspan="2">Vay lại</th>
                                    <th rowspan="2">Cấp phát</th>
                                    <th rowspan="2">Vay lại</th>
                                    <th rowspan="2">Cấp phát</th>
                                    <th colspan="2">Tuyệt đối</th>
                                    <th colspan="2">Tương đối (%)</th>
                                </tr>
                                <tr>
                                    <th rowspan="1">Vay lại</th>
                                    <th rowspan="1">Cấp phát</th>
                                    <th rowspan="1">Vay lại</th>
                                    <th rowspan="1">Cấp phát</th>
                                </tr>
                                <tr>
                                    <th rowspan="1">1</th>
                                    <th rowspan="1">2</th>
                                    <th rowspan="1">3</th>
                                    <th rowspan="1">4</th>
                                    <th rowspan="1">5</th>
                                    <th rowspan="1">6</th>
                                    <th rowspan="1">7 = 3 - 5</th>
                                    <th rowspan="1">8 = 4 - 6</th>
                                    <th rowspan="1">9 = 5 / 3 </th>
                                    <th rowspan="1">10 = 6 / 4</th>
                                </tr>

                            </thead>
                            <tbody id="tblDanhSachs">
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td colspan="10" style="border: none;width: 100%;">
                        <table style="width: 100%; border: none;">
                            <tr style="border: none;">
                                <td colspan="10" style="border: none; text-align: center;width: 50%">
                                    <strong>
                                        Nơi nhận:<br />
                                    </strong>
                                    - Như trên<br />
                                    - Lưu:…..<br />
                                </td>
                                <td colspan="10" style="border: none; text-align: center;width: 50%">
                                    <strong>
                                        TM. <label class="inhoa" id="thaymat"></label>
                                        <br>
                                    </strong>
                                    <i>(Ký, ghi rõ họ tên và đóng dấu)</i>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</body>

</html>