<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
	<style>
		table,
		thead,
		tr,
		th {
			text-align: center;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-3 pull-left text-center">
				<strong>
					Cơ quan thực hiện: UBND Tỉnh/Thành phố ...
				</strong>

			</div>
			<div class="col-sm-9 text-center">
				<strong>
					Mẫu biểu số: 1.02
				</strong>

			</div>
			<div class="text-center col-sm-12">
				<label class="text-center">
					<strong style="font-size:17px">BÁO CÁO TÌNH HÌNH NỢ CỦA UBND TỈNH ………. THEO CHỦ NỢ</strong><br />
				</label>
				<div class="pull-right">Đơn vị: Nguyên tệ</div>
				<br />
			</div>

			<div class="col-sm-12">
				<table class="table table-striped table-bordered table-hover table-columned text-center"
					id="tblDanhSach">
					<thead>
						<tr>
							<th colspan="1" rowspan="1">STT</th>
                            <th colspan="1" rowspan="1">TÊN CHỦ NỢ</th>
                            <th colspan="1" rowspan="1">Dư nợ đầu kỳ</th>
                            <th colspan="1" rowspan="1">Dư nợ đầu kỳ quy VND</th>
                            <th colspan="1" rowspan="1">Dư nợ cuối kỳ</th>
                            <th colspan="1" rowspan="1">Dư nợ cuối kỳ quy VND</th>
                            <th colspan="1" rowspan="1">Trong đó, Dư nợ quá hạn cuối kỳ</th>
                            <th colspan="1" rowspan="1">Dư nợ quá hạn cuối kỳ quy VND</th>
						</tr>
						<tr>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<th>I</th>
                            <th>Chủ nợ A<br/>
                            Dự án...</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
                        <tr>
							<th>I</th>
                            <th>Chủ nợ B<br/>
                            Dự án...</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
                        </tr>
                        <tr>
							<th>I</th>
                            <th>Chủ nợ C<br/>
                            Dự án...</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Tổng dư nợ (quy VNĐ)</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Hạn mức nợ theo quy định (VNĐ)</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</tbody>
				</table>
				<br />
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3 pull-left text-center">
					<strong>
						NGƯỜI LẬP BIỂU
					</strong>



				</div>
				<div class="col-sm-9 text-center">
					<i>………, Ngày …… tháng …… năm ……<br /></i>
					<strong>
						THỦ TRƯỞNG ĐƠN VỊ<br />

					</strong>
					<i>(Ký, ghi rõ họ tên và đóng dấu)</i>


				</div>
			</div>
		</div>
	</div>
</body>

</html>