<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
    <style>
        table,
        thead,
        tr,
        th {
            text-align: center;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-sm-3 pull-left text-center">
                <strong>
                    Cơ quan thực hiện: UBND Tỉnh/Thành phố ...
                </strong>

            </div>
            <div class="col-sm-9 text-center">
                <strong>
                    Mẫu số 1.03
                </strong>

            </div>
            <div class="col-sm-3 pull-left text-center">
                <strong>
                    UBND TỈNH/THÀNH <br />
                    PHỐ…...<br />
                    -------
                </strong>

            </div>
            <div class="col-sm-9 text-center">
                <strong>
                    CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br />
                    Độc lập - Tự do - Hạnh phúc <br />
                    ---------------
                </strong>

            </div>
            <div class="col-sm-12 text-center">
                <i>
                    …….., ngày ….. tháng ….. năm…….
                </i>
            </div>
            <div class="text-center col-sm-12">
                <label class="text-center">
                    <strong style="font-size:17px">BÁO CÁO TÌNH HÌNH THỰC HIỆN DỰ ÁN SỬ DỤNG VỐN VAY LẠI ODA, VAY ƯU ĐÃI
                        NƯỚC NGOÀI CỦA CHÍNH PHỦ</strong><br />
                </label>
                <div class="col-sm-12 text-center">
                    <i>
                        Kỳ báo cáo: từ ngày ... đến ngày ...
                    </i>
                </div>
                <div class="col-sm-12 ">
                    <i>
                        Kính gửi: Bộ Tài chính (Cục Quản lý nợ và Tài chính đối ngoại)
                    </i>
                </div>

            </div>
        </div>
        <div>
            <ul>
                <li><strong>
                        I. Thông tin cơ bản
                    </strong></li>
                <li>
                    - Tên Dự án:
                </li>
                <li>
                    - Tên Nhà tài trợ:
                </li>
                <li>
                    - Hiệp định vay số:
                </li>
                <li>
                    - Tên Nhà tài trợ:
                </li>
                <li>
                    - Thời gian thực hiện dự án: từ....đến...
                </li>
                <li>
                    - Tổng mức đầu tư:
                </li>
                <li>
                    - Tổng số vốn vay:
                </li>
                <li>
                    - Tỷ lệ vay lại:
                </li>
                <li><strong>
                        II. Tiến độ thực hiện dự án
                    </strong></li>
                <li>
                        1. Lũy kế vốn vay nước ngoài đã giải ngân, chưa giải ngân đến cuối kỳ báo cáo, phân theo vốn cấp phát, vốn vay lại.
                </li>
                <li>
                        2. Tóm tắt các công việc đã thực hiện của dự án.
                </li>
                <li>
                        3. Tình hình bố trí và sử dụng vốn đối ứng.
                </li>
                <li>
                        4. Tình hình quản lý, sử dụng tài sản của dự án đầu tư.
                </li>
                <li>
                        5. Các vướng mắc trong quá trình triển khai, kiến nghị.
                </li>
            </ul>
        </div>
    </div>
</body>

</html>