<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">


<head>
    <script type="text/javascript" th:src="@{/public/libs/datatable/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/libs/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/qln/core/DataHelper.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/qln/core/ControlHelper.js}"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/BC80.js"></script>
    <script th:src="@{/public/libs/numeral.min.js}"></script>
    <script type="text/javascript" src="/qln/public/js/qln/app/ulti/exportExcell.js"></script>
    <style>
        table,
        thead,
        tr,
        th {
            text-align: center;
        }
    </style>
    <script>
        function titleCase(str) {
            var splitStr = str.toLowerCase().split(' ');
            for (var i = 0; i < splitStr.length; i++) {
                // You do not need to check if i is larger than splitStr length, as your for does that for you
                // Assign it back to the array
                splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
            }
            // Directly return the joined string
            return splitStr.join(' ');
        }
        $(document).ready(function () {
            var oDataTB = ControlHelper.Datatable.Init('tblDanhSach', 25, true)
            bc80 = new BC80();
            var arr_params = location.search.slice(1).split('&')
            $('#top_Tinh').html(decodeURIComponent(arr_params[2].split('=')[1]))
            var donVi = decodeURIComponent(arr_params[2].split('=')[1]).toLowerCase().replace('ubnd', '').replace('thành phố', '').replace('tỉnh ', '')
            $(".dv").html(titleCase(donVi))
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            $('.day').html(dd)
            $('.month').html(mm)
            $('.year').html(yyyy)
            var nam = arr_params[0].split('=')[1]
            var post_data = {}
            post_data.i_ngaybatdau = '01/01/' + nam
            post_data.i_ngayketthuc = '31/12/' + nam
            post_data.i_tinhthanhid = Number(arr_params[1].split('=')[1])
            post_data.i_donvitinh = Number(arr_params[3].split('=')[1])
            var res = bc80.getDataReportOdaChinhPhuChuNo(post_data)
            $('#dvt').html(decodeURIComponent(arr_params[4].split('=')[1]))
            if (res.length > 0) {
                var key = Object.keys(res[0])
                var arows = []

                res.map(function (item, index) {
                    key.map((value) => {
                        item[value] = typeof (item[value]) + '' === 'number' ? numeral(parseFloat(item[value]) / (Number(post_data.i_donvitinh)).toFixed(2)).format('0,0.00') : item[value]
                    })
                    arows.push([(parseInt(index) + 1), item.COQUANUYQUYENVAYLAI, item.DUNODAUKYNGOAITE, item.DUNODAUKYVND, item.TONGDUNOCUOIKYNGOAITE, item.TONGDUNOCUOIKYVN, item.NOQUAHANNGOAITE,
                    item.NOQUAHANVND])
                })
                oDataTB.rows.add(arows).draw()
            }



            $('#tblDanhSach_info').parent().parent().remove()
            $('#tblDanhSach_length').parent().parent().remove()
            $('#tblDanhSach tbody td').css('border', '1px solid gray')
            $('#tblDanhSach th').css('border', '1px solid gray')
            var rg_number = /^\d+$/

            $('td').each((index, el) => {
                typeof (Number($(el).html().replace(/,/g, ''))) + '' === "number" ? rg_number.test($(el).html().replace(/,/g, '')) ? $(el).css('text-align', 'right') : $(el).css('text-align', 'center') : $(el).css('text-align', 'center')
            })

            $('#exportExcell').click(function () {
                exportTableToExcel('tblDanhSach', 'Báo cáo tình hình vay trả nợ oda theo chủ nợ')
            })
        })
    </script>
    <style>
        #tblDanhSach thead td {
            background-color: none !important;
            background: none !important;
            border: none !important;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <button class="btn btn-primary" id="exportExcell">Kết xuất excel</button>
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover table-columned text-center"
                    id="tblDanhSach">
                    <thead>
                        <tr>
                            <td colspan="8">
                                <table style="width: 100%; border: 0px;">
                                    <tr style="display: none;">
                                        <td colspan="8"></td>

                                    </tr>
                                    <tr style="text-align: center;">
                                        <thead>
                                            <td colspan="4" style="text-align: center; width: 50%;">
                                                <strong style="text-align: center; display: block;">
                                                    <span id="top_Tinh"></span><br>
                                                    -----------<br>
                                                </strong> Số: …..<br> V/v Báo cáo tổng hợp tình hình vay lại vốn ODA,
                                                vay ưu đãi nước ngoài theo chủ nợ

                                            </td>
                                            <td colspan="4" style="text-align: center; width: 50%;">
                                                <strong style="text-align: center; display: block;">
                                                    CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM <br>
                                                    <span style="display: block;">
                                                        Độc lập - Tự do - Hạnh phúc
                                                    </span>
                                                    ------------<br>
                                                    <i>
                                                        <span class="dv"></span>, ngày <span class="day"></span> tháng
                                                        <span class="month"></span> năm <span class="year"></span>.
                                                    </i>
                                                </strong>
                                            </td>
                                        </thead>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <label class="text-center" style="text-align: center;">
                                    <strong style="font-size:17px">BÁO CÁO TÌNH HÌNH VAY LẠI VỐN VAY ODA, VAY ƯU ĐÃI
                                        NƯỚC NGOÀI CỦA
                                        CHÍNH PHỦ</strong><br />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%; text-align: right;" colspan="8">
                                Đơn vị: <span id="dvt"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>STT</th>
                            <th>TÊN CHỦ NỢ</th>
                            <th>Dư nợ đầu kỳ</th>
                            <th>Dư nợ đầu kỳ quy VND</th>
                            <th>Dư nợ cuối kỳ</th>
                            <th>Dư nợ cuối kỳ quy VND</th>
                            <th>Trong đó, Dư nợ quá hạn cuối kỳ</th>
                            <th>Dư nợ quá hạn cuối kỳ quy VND</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <table style="width: 100%; border: 0px;">
                                    <tr style="display: none;">
                                        <td colspan="8"></td>

                                    </tr>
                                    <tr style="text-align: center;">
                                        <thead>
                                            <td colspan="4" style="text-align: center; width: 50%;">
                                                <strong style="display: block; text-align: center;">
                                                    NGƯỜI LẬP BIỂU
                                                </strong>
                                            </td>
                                            <td colspan="4" style="text-align: center; width: 50%;">

                                                <strong style="display: block; text-align: center;">
                                                    <i><span class="dv"></span>, ngày <span class="day"></span> tháng
                                                        <span class="month"></span> năm <span
                                                            class="year"></span>.<br /></i>
                                                    THỦ TRƯỞNG ĐƠN VỊ<br />
                                                    <i>(Ký, ghi rõ họ tên và đóng dấu)</i>
                                                </strong>


                                            </td>
                                        </thead>

                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </tfoot>
                </table>
                <br />
            </div>

        </div>
    </div>
</body>

</html>