<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main01">

<head>
    <meta charset="utf-8" />
    <title>Đợt rút vốn</title>
    <link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/_all.css}">
    <link type="text/css" rel="stylesheet" href="/qln/public/libs/jqueryloading/waitMe.css" />
    <script type="text/javascript" src="/qln/public/js/qln/app/VayODA/DotRutVonView.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/DotRutVon.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/KeHoachVayHangNam.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/TinhThanh.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/DuAn.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/DonViTienTe.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/NhaTaiTro.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/HopDongVayLai.js"></script>
    <script src="/qln/public/libs/jqueryloading/waitMe.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            oDotRutVonView = new DotRutVonView();
            //oDotRutVonViewOld.bindModal();
            CurrentLayout = "DOTRUTVON"
            $("input[data-type='currency']").on({
                keyup: function() {
                    formatCurrency($(this));
                },
                blur: function() {
                    formatCurrency($(this), "blur");
                }
            });

            function formatNumber(n) {
                return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

            function formatCurrency(input, blur) {
                var input_val = input.val();
                if (input_val === "") {
                    return;
                }
                var original_len = input_val.length;
                var caret_pos = input.prop("selectionStart");
                if (input_val.indexOf(".") >= 0) {
                    var decimal_pos = input_val.indexOf(".");
                    var left_side = input_val.substring(0, decimal_pos);
                    var right_side = input_val.substring(decimal_pos);
                    left_side = formatNumber(left_side);
                    right_side = formatNumber(right_side);
                    if (blur === "blur") {
                        right_side += "";
                    }
                    right_side = right_side.substring(0, 2);
                    input_val = "" + left_side + "." + right_side;
                } else {
                    input_val = formatNumber(input_val);
                    input_val = "" + input_val;
                    if (blur === "blur") {
                        input_val += "";
                    }
                }
                input.val(input_val);
                var updated_len = input_val.length;
                caret_pos = updated_len - original_len + caret_pos;
                input[0].setSelectionRange(caret_pos, caret_pos);
            }
        })
    </script>
    <style>
        table tr td:nth-child(8n-4) {
            text-align: left
        }
        
        table tr td:nth-child(2n-1) {
            text-align: center
        }
        
        table tr td:nth-child(4n-2) {
            text-align: center
        }
        
        table tr td:nth-child(6n-3) {
            text-align: left
        }
        
        table tr td:nth-child(10n-5) {
            text-align: left
        }
        
        table tr td:nth-child(12n-6) {
            text-align: left
        }
        
        table tr td:nth-child(14n-7) {
            text-align: center
        }
        
        table tr td:nth-child(16n-8) {
            text-align: right
        }
        
        table tr td:nth-child(18n-9) {
            text-align: right
        }
        
        table tr td:nth-child(20n-10) {
            text-align: right
        }
        
        table tr td:nth-child(22n-11) {
            text-align: right
        }
        
        table tr td:nth-child(24n-12) {
            text-align: left
        }
        
        table tr td:nth-child(26n-13) {
            text-align: left
        }
    </style>
    <style>
        .select2-selection__rendered {
            font-size: 15px !important;
        }
        
        .select2-results__option {
            font-size: 15px !important;
        }
        
        #select2-SOTIENGIAINGANVAYLAITIENTE-container {
            font-weight: bold;
        }
        
        #select2-SOTIENGIAINGANCAPPHATTIENTE-container {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="row" style="margin-top:10px">
            <span class="glyphicon glyphicon-align-justify"></span><label style="color:red;">&nbspĐỢT RÚT VỐN</label>
            <hr />
            <div class="col-sm-12" style="margin:0px">
                <!-- <div class="row ACTIONS well well-sm">
					<button type="button" class="btn btn-info btn-sm" id="btnAddNew" data-toggle="modal"
						data-target="#exampleModalCenter">
						Thêm
					</button>
					<button type="button" class="btn btn-info btn-sm" id="btnEdit" data-toggle="modal"
						data-target="#exampleModalCenter">
						Sửa
					</button>
					<button type="button" class="btn btn-info btn-sm" id="btnDelete"><i
							class="glyphicon glyphicon-trash"></i> Xóa</button>
					<button type="button" class="btn btn-info btn-sm" id="btnExport"><i
							class="glyphicon glyphicon-export"></i> Kết xuất</button>
					<button type="button" class="btn btn-info btn-sm" id="btnImport"><i
							class="glyphicon glyphicon-import"></i> Import</button>
					<button type="button" class="btn btn-info btn-sm" id="btnImport"><i
							class="glyphicon glyphicon-list-alt"></i> In giấy nhận nợ</button>
				</div> -->
                <div class="row panel panel-primary" id="LIST" style="margin-top: 11px;">
                    <div class="panel-heading">Danh sách đợt rút vốn </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-columned text-center" id="Grid01" style="margin-top: 5px;">
                            <thead>
                                <tr>
                                    <th style="width:40px">STT</th>
                                    <th style="width:40px">Năm KH</th>
                                    <th>Số đơn rút vốn</th>
                                    <th>Hợp đồng</th>
                                    <th>Dự án</th>
                                    <th>Tên đơn vị</th>
                                    <th>Ngày nhận nợ</th>
                                    <th>Nguyên tệ vay lại<label id="labelntvl"></label></th>
                                    <th>Lũy kế vay lại</th>
                                    <th>Nguyên tệ cấp phát</th>
                                    <th>Lũy kế cấp phát</th>
                                    <th>Phương thức giải ngân</th>
                                    <th>File đính kèm</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div role="document" style="width: 100%; height: 100%;">
                <div class="modal-content" style="height: 100%">
                    <div class="modal-header" style="display: flex">
                        <h5 style="width: 99%" class="modal-title" id="exampleModalLongTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="height: 80%">
                        <div class="row" style="margin-bottom: 5px; margin-top: 20px;">
                            <div class="col-sm-3"><label>Chọn kế hoạch</label></div>
                            <div class="col-sm-9">
                                <select id="KEHOACHVAYHANGNAMID" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px; margin-top: 20px;">
                            <div class="col-sm-3"><label>Chọn nhà tài trợ</label></div>
                            <div class="col-sm-9">
                                <select id="NHATAITROID" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-sm-12" style="text-align: center; border-bottom: 2px solid #f98989; width: 98%; margin-left: 1%">
                                <label id="txtThongTinDuAnHopDong" style="font-style: italic; font-style: bold; color: blue;"></label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-3"><label>Số đơn rút vốn/Tham chiếu<span
                                        class="require">(*)</span></label></div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="name" id="MA" value="" autocomplete="off" />
                            </div>
                            <div class="col-sm-3"><label>Phương thức giải ngân</label></div>
                            <div class="col-sm-3">
                                <select class="form-control" id="PHUONGTHUCGIAINGAN">
                                    <option value="1">Giải ngân trực tiếp</option>
                                    <option value="2">Giải ngân về tài khoản đặc biệt</option>
                                    <option value="3">Hoàn chứng từ</option>
                                </select>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-3"><label>Ngày nhận nợ</label></div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control wec-control-date" value="" id="NGAYNHANNO" name="NGAYNHANNO" autocomplete="off" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            onclick="$('#NGAYNHANNO').focus()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3"><label>Giải ngân theo KH năm</label></div>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" name="name" id="GIAINGANTHEOKHNAM" value="" autocomplete="off" disabled />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-3"><label>Lũy kế giải ngân vay lại</label></div>
                            <div class="col-sm-3">
                                <div style="display: flex">
                                    <input disabled id="LUYKEGIAINGANVAYLAI" class="form-control" style="text-align: right;" autocomplete="off" />
                                    <label style="width: 97%;" class="form-control" id="LUYKEGIAINGANVAYLAITIENTE"></label>
                                </div>
                            </div>
                            <div class="col-sm-3"><label>Lũy kế giải ngân cấp phát</label></div>
                            <div class="col-sm-3">
                                <div style="display: flex">
                                    <input disabled id="LUYKEGIAINGANCAPPHAT" class="form-control" style="text-align: right;" autocomplete="off" />
                                    <label style="width: 97%;" class="form-control" id="LUYKEGIAINGANCAPPHATTIENTE"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-3"><label>Số tiền vay lại tối đa được rút</label></div>
                            <div class="col-sm-3">
                                <div style="display: flex">
                                    <input id="SOTIENVAYLAITOIDA" disabled class="form-control" style="text-align: right;" autocomplete="off" />
                                    <label style="width: 97%;" class="form-control" id="SOTIENVAYLAITOIDATIENTE"></label>
                                </div>
                            </div>
                            <div class="col-sm-3"><label>Số tiền cấp phát tối đa được rút</label></div>
                            <div class="col-sm-3" style="display: flex">
                                <input disabled id="SOTIENCAPPHATTOIDA" class="form-control" style="text-align: right;" autocomplete="off" />
                                <label style="width: 97%;" class="form-control" id="SOTIENCAPPHATTOIDATIENTE"></label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-3"><label>Số tiền giải ngân vay lại (đợt này)</label></div>
                            <div class="col-sm-3">
                                <div style="display: flex">
                                    <input id="SOTIENGIAINGANVAYLAI" class="form-control" style="text-align: right;" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" autocomplete="off" />
                                    <select class="form-control" id="SOTIENGIAINGANVAYLAITIENTE">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3"><label>Số tiền giải ngân cấp phát (đợt này)</label></div>
                            <div class="col-sm-3">
                                <div style="display: flex">
                                    <input id="SOTIENGIAINGANCAPPHAT" class="form-control" style="text-align: right;" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" autocomplete="off" />
                                    <select class="form-control" id="SOTIENGIAINGANCAPPHATTIENTE">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-3"><label>Quy đổi nguyên tệ vay lại</label></div>
                            <div class="col-sm-3">
                                <div style="display: flex">
                                    <input id="NGUYENTEVAYLAI" class="form-control" style="text-align: right;" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" autocomplete="off" disabled />
                                    <label style="width: 97%;" class="form-control" id="NGUYENTEVAYLAITIENTE"></label>
                                </div>
                            </div>
                            <div class="col-sm-3"><label>Quy đổi nguyên tệ cấp phát</label></div>
                            <div class="col-sm-3">
                                <div style="display: flex">
                                    <input id="NGUYENTECAPPHAT" class="form-control" style="text-align: right;" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" autocomplete="off" disabled />
                                    <label style="width: 97%;" class="form-control" id="NGUYENTECAPPHATTIENTE"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-3"><label>Đơn vị</label></div>
                            <div class="col-sm-3">
                                <select id="DONVIID" class="form-control" value="">
                                </select>
                            </div>
                            <div class="col-sm-3"><label>Ghi chú</label></div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="name" id="GHICHU" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px; padding-left: 35px;">
                            <form id="uploadForm" enctype="multipart/form-data">
                                <input type="file" name="userPhoto" />
                                <input type="hidden" id="idrowtable" name='idrowtable' />
                                <input type="hidden" id="tablename" name='tablename' />
                                <span id="status"></span>
                            </form>
                        </div>
                    </div>
                    <div style="text-align: right;padding-right: 100px;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary btnSave">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>