<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main01">

<head>
    <meta charset="utf-8" />
    <title>Vay ngân quỹ nhà nước</title>
    <link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/_all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/all.css}">
    <script type="text/javascript" src="/qln/public/js/qln/model/NguoiDung.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/TinhThanh.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/HopDongVayLai.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/VayKBNN.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/app/VayKhac/VayKBNNView.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CurrentLayout = 'VAYKBNN'
            $(document).ready(function () {
                oVayKBNNView = new VayKBNNView();
                // oVayKBNNView.bindModal();
            })
            $("input[data-type='currency']").on({
                keyup: function () {
                    formatCurrency($(this));
                },
                blur: function () {
                    formatCurrency($(this), "blur");
                }
            });

            function formatNumber(n) {
                // format number 1000000 to 1,234,567
                return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

            function formatCurrency(input, blur) {
                // appends $ to value, validates decimal side
                // and puts cursor back in right position.      
                // get input value
                var input_val = input.val();
                // don't validate empty input
                if (input_val === "") {
                    return;
                }
                // original length
                var original_len = input_val.length;
                // initial caret position 
                var caret_pos = input.prop("selectionStart");
                // check for decimal
                if (input_val.indexOf(".") >= 0) {
                    // get position of first decimal
                    // this prevents multiple decimals from
                    // being entered
                    var decimal_pos = input_val.indexOf(".");
                    // split number by decimal point
                    var left_side = input_val.substring(0, decimal_pos);
                    var right_side = input_val.substring(decimal_pos);
                    // add commas to left side of number
                    left_side = formatNumber(left_side);
                    // validate right side
                    right_side = formatNumber(right_side);
                    // On blur make sure 2 numbers after decimal
                    if (blur === "blur") {
                        right_side += "";
                    }
                    // Limit decimal to only 2 digits
                    right_side = right_side.substring(0, 2);
                    // join number by .
                    input_val = "" + left_side + "." + right_side;
                } else {
                    // no decimal entered
                    // add commas to number
                    // remove all non-digits
                    input_val = formatNumber(input_val);
                    input_val = "" + input_val;
                    // final formatting
                    if (blur === "blur") {
                        input_val += "";
                    }
                }
                // send updated string to input
                input.val(input_val);
                // put caret back in the right position
                var updated_len = input_val.length;
                caret_pos = updated_len - original_len + caret_pos;
                input[0].setSelectionRange(caret_pos, caret_pos);
            }

        })
    </script>
    <style>
        table tr td:nth-child(2n-1) {
            text-align: center
        }

        table tr td:nth-child(4n-2) {
            text-align: left
        }

        table tr td:nth-child(6n-3) {
            text-align: left
        }

        table tr td:nth-child(8n-4) {
            text-align: center
        }

        table tr td:nth-child(10n-5) {
            text-align: center
        }

        table tr td:nth-child(12n-6) {
            text-align: right
        }

        table tr td:nth-child(14n-7) {
            text-align: right
        }

        table tr td:nth-child(16n-8) {
            text-align: right
        }

        table tr td:nth-child(18n-9) {
            text-align: right
        }

        table tr td:nth-child(20n-10) {
            text-align: right
        }

        table tr td:nth-child(22n-11) {
            text-align: right
        }

        table tr td:nth-child(24n-12) {
            text-align: right
        }

        .input-group-inline {
            margin: 0px !important;
        }

        .input-group-inline div {
            float: left;
        }

        .input-group-inline div:nth-last-child {
            float: right;
        }

        .input-group-inline .col-sm-4 {
            padding: 0px !important;
        }

        .input-group-inline .col-sm-6 {
            padding: 0px !important;
            float: right;
        }

        th {
            height: 25px !important;
        }

        th[rowspan="2"] {
            line-height: 50px !important;
        }

        .input-group {
            width: 100%;
        }

        .input-table input,
        .input-table select {
            border: 1px solid #2a9bf5;
            box-shadow: none;
            width: 100%;
            min-height: 25px;
            border-radius: 3px;
        }

        #table-multi tbody td:nth-child(6n-4),
        #table-multi tbody td:nth-child(6n-3) {
            text-align: right !important;
        }
        #table-multi tbody td:nth-child(6n-1) {
            text-align: left;
        }
    </style>
    <style>
        .select2-selection__rendered {
            font-size: 15px !important;
        }

        .select2-results__option {
            font-size: 15px !important;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <input type="hidden" value="qln_kehoachvayhangnam">
        <div class="row" style="margin-top:10px">
            <span class="glyphicon glyphicon-align-justify"></span><label style="color:red;">&nbspVAY NGÂN QUỸ NHÀ NƯỚC
                (KHO BẠC NHÀ NƯỚC)</label>
            <hr />
            <div class="col-sm-12" style="margin:0px">
                <div class="row panel panel-primary" id="LIST" style="margin-top: 11px;">
                    <div class="panel-heading">Danh sách vay ngân quỹ nhà nước </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-columned text-center"
                            id="Grid01" style="margin-top: 5px;">
                            <thead>
                                <tr>
                                    <th style="width:40px" rowspan="2">STT</th>
                                    <th rowspan="2">Tên đơn vị</th>
                                    <th rowspan="2">Mục đích vay</th>
                                    <th rowspan="2">Ngày vay</th>
                                    <th rowspan="2">Ngày trả nợ</th>
                                    <th colspan="3">Số vay</th>
                                    <th colspan="5">Hoàn trả</th>
                                    <th rowspan="2">File đính kèm</th>
                                </tr>
                                <tr>
                                    <td>Trả nợ gốc</td>
                                    <td style="text-align: center;">Bù đắp bội chi</td>
                                    <td style="text-align: center;">Tổng</td>
                                    <td>Lãi phí(%)</td>
                                    <td>Đã trả gốc</td>
                                    <td>Đã trả lãi</td>
                                    <td style="text-align: center;">Tổng</td>
                                    <td style="text-align: center;">Trạng thái</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div role="document" style="width: 100%; height: 100%;">
                <div class="modal-content" style="height: 100%">
                    <div class="modal-header" style="display: flex">
                        <h5 style="width: 99%" class="modal-title" id="exampleModalLongTitle">vay KBNN
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="height: 80%; padding-left: 30px; padding-right: 30px;">
                        <div class="brow" style="margin-top: 20px">
                            <div class="row">
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Tên hợp đồng</label></div>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="MAHOPDONG"></select>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px">
                                    <div class="col-sm-12"
                                        style="text-align: center; border-bottom: 2px solid #f98989; width: 98%; margin-left: 1%">
                                        <label id="txtThongTinDuAnHopDong"
                                            style="font-style: italic; font-style: bold; color: blue;"></label>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Dư nợ đầu kỳ</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" disabled class="form-control" value="" id="DUNODAUKY"
                                                style="text-align: right;" name="DUNODAUKY" autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button"
                                                    class="btn btn-default MoneyUnitLabel">VNĐ</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><label>Đơn vị</label></div>
                                    <div class="col-sm-4">
                                        <select id="DONVIID" class="form-control DONVIID">
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Lũy kế vay trong năm</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" disabled class="form-control" value="" id="LUYKETRANOGOC"
                                                style="text-align: right;" name="LUYKETRANOGOC" autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button"
                                                    class="btn btn-default MoneyUnitLabel">VNĐ</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><label>Ngày vay</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control wec-control-date" name="NGAYVAY"
                                                id="NGAYVAY" value="" autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                    onclick="$('#NGAYVAY').focus()"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Vay để trả nợ gốc</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="TRANOGOC" id="TRANOGOC"
                                                pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"
                                                style="text-align: right;" autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button"
                                                    class="btn btn-default MoneyUnitLabel">VNĐ</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><label>Thời hạn vay</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group-inline row" style="width: 100%;">
                                            <div class="col-sm-4">
                                                <select id="THOIHANVAY" class="form-control">
                                                    <option value="0">Khác</option>
                                                    <option value="1">1 Tháng</option>
                                                    <option value="2">2 Tháng</option>
                                                    <option value="3" style="font-weight: bold" selected>3 Tháng
                                                    </option>
                                                    <option value="4">4 Tháng</option>
                                                    <option value="5">5 Tháng</option>
                                                    <option value="6" style="font-weight: bold">6 Tháng</option>
                                                    <option value="7">7 Tháng</option>
                                                    <option value="8">8 Tháng</option>
                                                    <option value="9" style="font-weight: bold">9 Tháng</option>
                                                    <option value="10">10 Tháng</option>
                                                    <option value="11">11 Tháng</option>
                                                    <option value="12" style="font-weight: bold">12 Tháng</option>
                                                </select>
                                            </div>
                                            <div style="text-align: center; font-weight: bold" class="col-sm-1">
                                                <label> - </label>
                                            </div>
                                            <div class="col-sm-6 input-group" style="width: 210px;">
                                                <input type="text" disabled class="form-control wec-control-date"
                                                    value="" id="THOIHANVAYDATE" name="THOIHANVAYDATE" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" disabled
                                                        id="btnTHOIHANVAYDATE" onclick="$('#THOIHANVAYDATE').focus()"><i
                                                            class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Vay để bù đắp bội chi</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="BUDAPBOICHI" id="BUDAPBOICHI"
                                                style="text-align: right;" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                                value="" data-type="currency" autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button"
                                                    class="btn btn-default MoneyUnitLabel">VNĐ</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><label>Lãi/phí</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="number" min="0.0" max="10.0" step="0.01" class="form-control"
                                                name="LAIPHI" id="LAIPHI" value="0.1" style="text-align: right;"
                                                autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default MoneyUnitLabel">%</button>
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6" style="margin-bottom: 5px;">
                                    <form id="uploadForm" enctype="multipart/form-data">
                                        <input type="file" id="userPhoto" name="userPhoto" />
                                        <input type="hidden" id="idrowtable" name='idrowtable' />
                                        <input type="hidden" id="tablename" name='tablename' />
                                        <span id="status"></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;padding-right: 100px;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary btnSave">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalTraNo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div role="document" style="width: 94%;margin-left: 3%;">
                <div class="modal-content" style="height: 100%">
                    <div class="modal-header" style="display: flex">
                        <h5 style="width: 99%" class="modal-title" id="exampleModalLongTitle">Đợt trả nợ
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row"
                                    style="width: 60%; margin-left: 20%; text-align: center; color: #b7422e !important; padding: 10px 0px;margin-bottom: 15px; font-size: 16px;border-bottom: 2px solid  #b7422e;">
                                    Thông tin vay</div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Đơn vị</label></div>
                                    <div class="col-sm-4">
                                        <select id="DONVIID" class="form-control DONVIID" disabled>
                                        </select>
                                    </div>
                                    <div class="col-sm-2"><label>Tổng số tiền vay:</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="text-align: right;" type="text" class="form-control"
                                                id="TONGSOTIENVAY" name="TONGSOTIENVAY"
                                                pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"
                                                autocomplete="off" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Ngày vay</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control wec-control-date" name="NGAYVAY"
                                                id="NGAYVAY" value="" autocomplete="off" disabled />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                    onclick="$('#NGAYVAY').focus()"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><label>Ngày trả nợ</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control wec-control-date"
                                                name="THOIHANVAYDATE" id="THOIHANVAYDATE" value="" autocomplete="off"
                                                disabled />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                    onclick="$('#THOIHANVAYDATE').focus()"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Kỳ hạn vay</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="text-align: right;" type="text" disabled class="form-control"
                                                id="THOIHANVAY" name="THOIHANVAY" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                                value="" data-type="currency" autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i>Tháng</i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><label>Lãi phí:</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="text-align: right;" disabled type="text" class="form-control"
                                                id="LAIPHI" name="LAIPHI" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                                value="" data-type="currency" autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i>%</i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-2"><label>Tổng dư nợ còn lại: </label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="text-align: right;" disabled type="text" class="form-control"
                                                id="TONGDUNOCONLAI" name="TONGDUNOCONLAI"
                                                pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"
                                                autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row"
                                    style="width: 60%; margin-left: 20%;text-align: center;  color: #01578b; padding: 10px 0px; margin-bottom:15px;border-bottom: 2px solid  #01578b; font-size: 16px;">
                                    Thông tin trả nợ</div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Trả gốc: </label></div>
                                    <div class="col-sm-4">
                                        <input style="text-align: right;" type="text" class="form-control" id="TRAGOC"
                                            name="TRAGOC" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                            data-type="currency" autocomplete="off" />
                                    </div>
                                    <div class="col-sm-2"><label>Trả lãi: </label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="text-align: right;" type="text" class="form-control"
                                                id="TRALAI" name="TRALAI" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                                value="" data-type="currency" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-sm-2"><label>Ngày trả: </label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control wec-control-date" name="NGAYTRA"
                                                id="NGAYTRA" value="" autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                    onclick="$('#NGAYTRA').focus()"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><label>Ghi chú: </label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" name="GHICHU" id="GHICHU" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align: right;padding-right: 15px;">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary btnSaveTraNo">Lưu</button>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row table-list-trano" style="margin-bottom: 5px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="">
                                                <div
                                                    style="width: 60%; margin-left: 20%;text-align: center;  color: #01578b; padding: 10px 0px; margin-bottom:15px;border-bottom: 2px solid  #01578b; font-size: 16px;">
                                                    Lịch sử trả nợ</div>
                                                <table id='table-multi'
                                                    class="table table-striped table-bordered table-hover table-columned text-center"
                                                    style="border: 1px; background: oldlace">
                                                    <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Trả gốc</th>
                                                            <th>Trả lãi</th>
                                                            <th>Ngày trả</th>
                                                            <th>Ghi chú</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>