<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main01">

<head>
	<meta charset="utf-8" />
	<title>Vay nhà tài trợ</title>
	<script type="text/javascript" src="/qln/public/js/qln/app/VayLai/VayNhaTaiTroView.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/VayNhaTaiTro.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		CurrentLayout = 'VAYNHATAITRO'
		oVayNhaTaiTroView = new VayNhaTaiTroView();
	})
	</script>
	<style>
        .select2-selection__rendered {
            font-size: 15px !important;
        }

        .select2-results__option {
            font-size: 15px !important;
        }
    </style>
</head>

<body>
	<div layout:fragment="content">
		<div class="row" style="margin-top:10px">
			<label> VAY NHÀ TÀI TRỢ</label>
			<hr />
			<div class="col-sm-12" style="margin:0px">
				<div class="row ACTIONS well well-sm">
					<button type="button" class="btn btn-info btn-sm" id="btnAddNew"><i
							class="glyphicon glyphicon-plus"></i> Thêm</button>
					<button type="button" class="btn btn-info btn-sm" id="btnEdit"><i
							class="glyphicon glyphicon-edit"></i> Sửa</button>
					<button type="button" class="btn btn-info btn-sm" id="btnDelete"><i
							class="glyphicon glyphicon-trash"></i> Xóa</button>
					<button type="button" class="btn btn-info btn-sm" id="btnExport"><i
							class="glyphicon glyphicon-export"></i> Kết xuất</button>
					<button type="button" class="btn btn-info btn-sm" id="btnImport"><i
							class="glyphicon glyphicon-import"></i> Import</button>
				</div>
				<div class="row panel panel-primary" id="LIST">
					<div class="panel-heading">Danh sách vay nhà tài trợ </div>
					<div class="panel-body">
						<table class="table table-striped table-bordered table-hover table-columned text-center"
							id="Grid01">
							<thead>
								<tr>
									<th style="width:40px" rowspan="2">STT</th>
									<th rowspan="2">Dự án</th>
									<th rowspan="2">Dư nợ tồn đầu kỳ</th>
									<th rowspan="2">Vay trong kỳ</th>
									<th colspan="3">Trả nợ trong năm</th>
									<th style="width:60px;" rowspan="2">Trạng thái</th>

								</tr>
								<tr>
									<td>Gốc</td>
									<td>Lãi/Phí</td>
									<td>Tổng</td>
								</tr>
							</thead>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>