<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main01">

<head>
    <meta charset="utf-8" />
    <title>Đơn Vị</title>
    <script type="text/javascript" src="/qln/public/js/qln/app/danhmuc/DonViView.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/_all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/all.css}">
    <script type="text/javascript" src="/qln/public/js/qln/model/DonVi.js"></script>
    <script src="/qln/public/skinqln/js/validate.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/TinhThanh.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/NguoiDung.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            oDonViView = new DonViView();
            oDonViView.bindModal();
            CurrentLayout = "DONVI"
        })
    </script>
    <style>
        .select2-selection__rendered {
            font-size: 15px !important;
        }

        .select2-results__option {
            font-size: 15px !important;
        }
    </style>
    <style>
        table tr td:nth-child(2n-1) {
            text-align: center
        }

        table tr td:nth-child(4n-2) {
            text-align: left      
        }

        table tr td:nth-child(6n-3) {
            text-align: left
        }

        table tr td:nth-child(8n-4) {
            text-align: left
        }

        table tr td:nth-child(10n-5) {
            text-align: left
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="row" style="margin-top:10px;">

            <div class="col-sm-12">
                <!-- <div class="row ACTIONS well well-sm">
                    <button type="button" class="btn btn-info btn-sm" id="btnAddNew" data-toggle="modal"
                        data-target="#exampleModalCenter"><i class="glyphicon glyphicon-plus"></i> Thêm</button>
                    <button type="button" class="btn btn-info btn-sm" id="btnEdit" data-toggle="modal"
                        data-target="#exampleModalCenter" disabled><i class="glyphicon glyphicon-edit"></i> Sửa</button>
                    <button type="button" class="btn btn-info btn-sm" id="btnViewDetails" disabled><i
                            class="glyphicon glyphicon-info"></i> Xem chi tiết</button>
                    <button type="button" class="btn btn-info btn-sm" id="btnDelete" disabled><i
                            class="glyphicon glyphicon-trash"></i> Xóa</button>
                    <button type="button" class="btn btn-info btn-sm" id="btnExport" disabled><i
                            class="glyphicon glyphicon-export"></i> Kết xuất</button>
                    <button type="button" class="btn btn-info btn-sm" id="btnImport" disabled><i
                            class="glyphicon glyphicon-import"></i> Import</button>
                </div> -->
                <div class="row panel panel-primary" id="LIST">
                    <div class="panel-heading">Danh sách đơn vị</div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-columned text-center"
                            id="Grid01" style="margin-top: 5px;">
                            <thead>
                                <tr>
                                    <th style="width:40px">STT</th>
                                    <th>Mã</th>
                                    <th>Tên đơn vị</th>
                                    <th>Đơn vị cha</th>
                                    <th>Tỉnh thành</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div role="document" style="width: 100%; height: 100%;">
                <div class="modal-content" style="height: 100%">
                    <div class="modal-header" style="display: flex">
                        <h5 style="width: 99%" class="modal-title" id="exampleModalLongTitle">
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="height: 80%; padding-right: 30px; padding-left: 30px;">
                        <div class="brow" style="margin-top: 20px">
                            <div class="row">
                                <div class="row">
                                    <div class="col-sm-2"><label >Mã <span
                                        class="require">(*)</span></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control validate-form" name="MA" id="MA" value=""
                                            autocomplete="off" />
                                    </div>
                                    <div class="col-sm-2"><label>Tên đơn vị</label></div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control validate-form" name="TENDONVI"
                                            id="TENDONVI" value="" autocomplete="off" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2"><label>Đơn vị cha</label></div>
                                    <div class="col-sm-4">
                                        <select id="IDCHA" class="form-control">
                                        </select>
                                    </div>
                                    <div class="col-sm-2"><label>Tỉnh thành</label></div>
                                    <div class="col-sm-4">
                                        <select id="TINHTHANHID" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row" style="margin-bottom: 5px">
                                    <div class="row"
                                        style="width: 60%; font-weight: bold; margin-left: 20%; text-align: center; color: #b7422e !important; padding: 10px 0px;margin-bottom: 15px; font-size: 16px;border-bottom: 2px solid  #b7422e;">
                                        Nguồn thu hưởng theo phân cấp</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><label>Nguồn thu</label></div>
                                    <div class="col-sm-4">
                                        <select id="NGUONTHU" class="form-control">
                                            <option value="TW">Ngân sách trung ương</option>
                                            <option value="DP">Ngân sách địa phương</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2"><label>Tỷ lệ(%)</label></div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="number" class="form-control" id="TYLE" value="100" min="0"
                                                max="100" step="1" style="text-align: right;">
                                            <span class="input-group-btn">
                                                <button type="button" id="tylephantram"
                                                    class="btn btn-default">%</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;padding-right: 100px;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary btnSave">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>