<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
    <script type="text/javascript" src="/qln/public/js/qln/app/danhmuc/DonViTienTeCTView.js"></script>
    <script type="text/javascript" src="/qln/public/js/qln/model/DonViTienTe.js"></script>
    <script type="text/javascript">
        oDonViTienTeCTView = new DonViTienTeCTView();
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-6">
                <div class="col-sm-2"><label>Mã <span class="require">*</span></label></div>
                <div class="col-sm-10"><input type="text" class="form-control" name="MA" id="MA" value="" /></div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-3"><label>Tên tiền tệ</label></div>
                <div class="col-sm-9"> <input type="text" class="form-control" name="TEN" id="TEN" value="" /></div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-3"><label>NOTE</label></div>
                <div class="col-sm-9"> <input type="text" class="form-control" name="NOTE" id="NOTE" value="" /></div>
            </div>
        </div>
        <div class="row pull-right ACTIONS" style="padding:10px; margin-top:0px;">
            <input type="hidden" name="name" value="" id="TIENTEID" />
            <button type="button" class="btn btn-info" id="btnSave"><i class="glyphicon glyphicon-save"></i>
                Lưu</button>
        </div>
    </div>
</body>

</html>