<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main01">

<head>
	<meta charset="utf-8" />
	<title>Nhà tài trợ</title>
	<link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/_all.css}">
	<script type="text/javascript" src="/qln/public/js/qln/app/danhmuc/NhaTaiTroView.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/NhaTaiTro.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/DuAn.js"></script>
	<script src="/qln/public/skinqln/js/validate.js"></script>
	<script src="/qln/public/js/qln/app/ulti/Ulti.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			CurrentLayout = "NHATAITRO"
			oNhaTaiTroView = new NhaTaiTroView();
		})
	</script>
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0;
			/* <-- Apparently some margin are still there even though it's hidden */
		}

		input[type=number] {
			-moz-appearance: textfield;
			/* Firefox */
		}
	</style>
	<style>
        .select2-selection__rendered {
            font-size: 15px !important;
        }

        .select2-results__option {
            font-size: 15px !important;
        }
    </style>
</head>

<body>
	<div layout:fragment="content">
		<div class="row" style="margin-top:10px">
			<span class="glyphicon glyphicon-align-justify"></span><label style="color:red;">&nbspDANH MỤC NHÀ TÀI
				TRỢ</label>
			<hr />
			<div class="col-sm-12" style="margin:0px">
				<!-- <div class="row ACTIONS well well-sm">
					<button type="button" class="btn btn-info btn-sm" id="btnAddNew"><i
							class="glyphicon glyphicon-plus"></i> Thêm</button>
					<button type="button" class="btn btn-info btn-sm" id="btnEdit"><i
							class="glyphicon glyphicon-edit"></i> Sửa</button>
					<button type="button" class="btn btn-info btn-sm" id="btnDelete"><i
							class="glyphicon glyphicon-trash"></i> Xóa</button>
					<button type="button" class="btn btn-info btn-sm" id="btnThemNhaTaiTro"><i
							class="glyphicon glyphicon-export"></i> Kết xuất</button>
					<button type="button" class="btn btn-info btn-sm" id="btnThemNhaTaiTro"><i
							class="glyphicon glyphicon-import"></i> Import</button>
				</div> -->
				<div class="row panel panel-primary" id="LIST" style="margin-top: 10px;">
					<div class="panel-heading">Danh sách nhà tài trợ</div>
					<div class="panel-body">
						<table class="table table-striped table-bordered table-hover table-columned text-center"
							id="Grid01" style="margin-top: 5px;">
							<thead>
								<tr>
									<th style="width:40px">STT</th>
									<th>Mã</th>
									<th>Tên nhà tài trợ</th>
									<th>Số điện thoại</th>
									<th>Mã số thuế</th>
									<th>Số tài khoản</th>
									<th>Địa chỉ</th>
									<th style="width:60px;">Trạng thái</th>
									<th style="width:40px;">Dự án</th>
								</tr>
							</thead>

						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div role="document" style="width: 100%; height: 100%;">
				<div class="modal-content" style="height: 100%">
					<div class="modal-header" style="display: flex">
						<h5 style="width: 99%" class="modal-title" id="exampleModalLongTitle">
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="height: 80%; padding-left: 30px; padding-right: 30px;">
						<div class="brow" style="margin-top: 20px">


							<div class="row">
								<div class="row" style="margin-bottom: 5px;">
									<div class="col-sm-2"><label>Mã <span class="require">*</span></label></div>
									<div class="col-sm-4"><input type="text" class="form-control validate-form"
											name="MA" id="MA" value="" /></div>
									<div class="col-sm-2"><label>Tên nhà tài trợ</label></div>
									<div class="col-sm-4"> <input type="text" class="form-control" name="name" id="TEN"
											value="" /></div>
								</div>
								<div class="row" style="margin-bottom: 5px;">
									<div class="col-sm-2"><label>Số điện thoại</label></div>
									<div class="col-sm-4"><input type="number" class="form-control" name="name"
											id="SODIENTHOAI" value="" /></div>
									<div class="col-sm-2"><label>Mã số thuế</label></div>
									<div class="col-sm-4"><input type="number" class="form-control" name="name"
											id="MASOTHUE" value="" /></div>
								</div>
								<div class="row" style="margin-bottom: 5px;">
									<div class="col-sm-2"><label>Số tài khoản</label></div>
									<div class="col-sm-4"> <input type="number" class="form-control" name="name"
											id="SOTAIKHOAN" value="" /></div>
									<div class="col-sm-2"> <label>Địa chỉ</label></div>
									<div class="col-sm-4"><input type="text" class="form-control" name="name"
											id="DIACHI" value="" /></div>
								</div>
								<div class="row" style="margin-bottom: 5px;">
									<div class="col-sm-2"><label>Trạng thái</label></div>
									<div class="col-sm-4">
										<select id="TRANGTHAI" class="form-control">
											<option value="1" selected>Kích hoạt</option>
											<option value="0">Khóa</option>
										</select>
									</div>
								</div>

							</div>

						</div>
					</div>
					<div style="text-align: right;padding-right: 100px;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary btnSave">Lưu</button>
                    </div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>