<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
</head>

<body>
	<div layout:fragment="content">
		<div class="row panel panel-primary" id="LIST">
			<div class="panel-heading">Lịch trả</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-hover table-columned text-center" id="Grid1">
					<thead>
						<tr>
							<th style="width:40px">STT</th>
							<th>Người trả</th>
							<th>Đối tượng trả</th>
							<th>Ngày trả</th>
							<th>Tiền gốc</th>
							<th>Tiền lãi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>