<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
</head>

<body>
	<div th:fragment="footer">
		<footer id="footer" class="footer">
			<div class="first-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="widget megacourse">
								<h3 class="md">ITWORKS</h3>
								<p>Các khóa học lập trình trực tuyến tại ItWorks luôn được
									đội ngũ training đóng ny đo giày giáo trình và nội dung chi
									tiết trong từng video, cho ra đời các khóa học chất lượng đạt
									chuẩn hàng đầu việt nam.</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="widget quick_link">
								<h3 class="sm">Ưu đãi tại ItWorks</h3>
								<ul class="list-style-block">
									<li><a href="https://ItWorks.com/uu-dai-nhom-khoa-hoc/"
										target="_blank"> Ưu đãi Combo khóa học </a></li>
									<li><a
										href="https://ItWorks.com/uu-dai-hoc-phi-tai-ItWorks/"
										target="_blank"> Ưu đãi đặc biệt </a></li>
									<li><a
										href="https://ItWorks.com/ho-tro-hoc-phi-danh-cho-doi-tuong-nguoi-khuyet-tat/"
										target="_blank"> Ưu đãi cho người khuyết tật </a></li>
									<li><a href="https://ItWorks.com/qua-sinh-nhat/"
										target="_blank"> Quà sinh nhật </a></li>
									<li><a href="https://ItWorks.com/hoc-thu-tai-ItWorks/"
										target="_blank"> Học thử 250K </a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget quick_link">
								<h3 class="sm">Liên kết</h3>
								<ul class="list-style-block">
									<li><a href="https://ItWorks.com/" target="_blank">Về
											chúng tôi</a></li>
									<li><a href="/nhom-phat-trien.html" target="_blank">Nhóm
											phát triển</a></li>
									<li><a href="https://www.youtube.com/user/luutruonghailan"
										target="_blank">Youtube</a></li>
									<li><a href="http://vdevpro.com/forum/index.php"
										target="_blank">Hỏi đáp lập trình</a></li>
									<li><a href="https://ItWorks.com/lien-he/" target="_blank">Liên
											hệ</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4">
							<div class="fb-page fb_iframe_widget"
								data-href="https://www.facebook.com/ItWorksgroup"
								data-tabs="timeline" data-width="370" data-height="287"
								data-small-header="false" data-adapt-container-width="true"
								data-hide-cover="false" data-show-facepile="true"
								fb-xfbml-state="rendered"
								fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=277955422986622&amp;container_width=0&amp;height=287&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FItWorksgroup&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=370">
								<span
									style="vertical-align: bottom; width: 370px; height: 287px;"><iframe
										name="f124787e351b7c4" width="370px" height="287px"
										frameborder="0" allowtransparency="true"
										allowfullscreen="true" scrolling="no" allow="encrypted-media"
										title="fb:page Facebook Social Plugin"
										src="https://www.facebook.com/v3.1/plugins/page.php?adapt_container_width=true&amp;app_id=277955422986622&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df12aef3ea75ff98%26domain%3Dfree.ItWorks.com%26origin%3Dhttps%253A%252F%252Ffree.ItWorks.com%252Ff47960fd32e8%26relation%3Dparent.parent&amp;container_width=0&amp;height=287&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FItWorksgroup&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=370"
										style="border: none; visibility: visible; width: 370px; height: 287px;"
										class=""></iframe></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="second-footer">
				<div class="container">
					<div class="contact">
						<div class="email">
							<i class="icon md-email"></i> <a href="#">training@itworks.vn</a>
						</div>
						<div class="phone">
							<i class="fa fa-mobile"></i> <span>028.22.374.154 -
								090.5744.470</span>
						</div>
						<div class="address">
							<i class="fa fa-map-marker"></i> <span>62A Phạm Ngọc
								Thạch, Phường 6, Q. 3, TPHCM</span>
						</div>
					</div>
					<p class="copyright">Copyright © 2014 Megadrupal. All rights
						reserved.</p>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>