<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<link type="text/css" rel='stylesheet' th:href="@{/public/skinmedic/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/public/skinmedic/vendor/slick/slick.css}">
	<link rel="stylesheet" th:href="@{/public/skinmedic/vendor/ap8/css/style.css}">
	<link type="text/css" rel='stylesheet' th:href="@{/public/skinmedic/vendor/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/public/skinmedic/css/style.min.css}">
	<script type="text/javascript" th:src="@{/public/skinmedic/vendor/jquery/jquery.2.1.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/public/js/qln/configs/ConfigApi.js}"></script>
	<script type="text/javascript">
	</script>
</head>

<body>
	<div class="content">
		<!--  Menu content -->
		<div layout:fragment="content"></div>
	</div>
</body>

</html>