<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main01">
<head>
<meta charset="utf-8" />
<title>Tìm kiếm, tra cứu</title>
<script type="text/javascript"
	src="/qln/public/js/qln/app/TimKiemTraCuu/TimKiem.js"></script>
<script type="text/javascript">
	oTimKiem = new TimKiem();
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="row ACTIONS well well-sm" style="margin-top:10px">
			<div class="row">
				<span class="glyphicon glyphicon-align-justify"></span><label style="color:red;">&nbspTÌM KIẾM - TRA CỨU DỮ LIỆU</label><hr />
			</div>
			<div class="col-sm-3">
				<label>Tỉnh/Thành phố </label>
			</div>
			<div class="col-sm-9">
				<select class="form-control">
					<option>TP. Hà Nội</option>
					<option>TP. Hồ Chí Minh</option>
					<option>Tỉnh Phú Thọ</option>
					<option>Tỉnh Nam Định</option>
				</select>
			</div>
			<div class="col-sm-3">
				<label>Từ ngày </label>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control wec-control-date" name="name" value="" />
			</div>
			<div class="col-sm-3" style="padding-left: 150px;">
				<label>Đến ngày </label>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control wec-control-date" name="name" value="" />
			</div>
			<div class="col-sm-2 pull-right" style="text-align:right;">
				<button type="button" class="btn btn-info btn-sm" id="btnSearch"><i class="glyphicon glyphicon-search"></i> Tìm kiếm</button>
			</div>
		</div>
		<div class="row">
			<div class="row panel panel-primary" id="LIST">
				<div class="panel-heading">Kết quả tìm kiếm</div>
				<div class="panel-body">
					<table class="table table-striped table-bordered table-hover table-columned text-center" id="tblDanhSach">
						<thead>
							<tr>
								<th style="width:10px"><input type="checkbox" name="name" value="" /></th>
								<th style="width:40px">STT</th>
								<th>Tỉnh/Thành phố</th>
								<th>Giai đoạn</th>
								<th>Hạn mức vay</th>
								<th>Dư nợ CQĐP</th>
								<th>Kế hoạch vay</th>
								<th>Ngày lập</th>
								<th>File đính kèm</th>
								<th>Xem chi tiết</th>
								<th>Cấu hình</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" name="name" value="" /></td>
								<td>1</td>
								<td>Phú thọ</td>
								<td>2015-2020</td>
								<td>100.000.000.000</td>
								<td>35.000.000.000</td>
								<td>Kế hoạc vay 5 năm tỉnh Phú Thọ</td>
								<td>02/09/2016</td>
								<td>
									<button type="button" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-save"></i> Tải </button>
								</td>
								<td>
									<button type="button" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-open"></i> Chi tiết </button>
								</td>
								<td>
									<button type="button" class="btn btn-info btn-sm" id="btnCauHinh"><i class="glyphicon glyphicon-cog"></i> Cấu hình</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>