<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main01">

<head>
	<meta charset="utf-8" />
	<title>Người dùng</title>

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/_all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/public/template/zend/css/all.css}">
	<script type="text/javascript" src="/qln/public/js/qln/app/HeThong/NguoiDungView.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/NguoiDung.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/DonVi.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/TinhThanh.js"></script>
	<script type="text/javascript" src="/qln/public/js/qln/model/bieumaubaocao.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/qln/public/css/simTree.css">
	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<title>sim-tree: Checkable Hierarchical Tree Demo</title>
	<style>
		body {
			min-height: 100vh;
			background-color: #fafafa;
		}

		/* .multi-item {
			width: 150px !important;
		} */

		.sim-tree li {
			margin-left: 30px
		}

		.multi-item {
			width: 163px !important;
		}

		#basic {
			width: 658px !important;
		}

		.panel-body {
			margin-left: 15px !important;
		}

		table tr td:nth-child(8n-4) {
			text-align: left
		}

		table tr td:nth-child(2n-1) {
			text-align: center
		}

		table tr td:nth-child(4n-2) {
			text-align: left
		}

		table tr td:nth-child(6n-3) {
			text-align: left
		}

		table tr td:nth-child(10n-5) {
			text-align: right
		}

		table tr td:nth-child(12n-6) {
			text-align: left
		}

		table tr td:nth-child(14n-7) {
			text-align: left
		}

		table tr td:nth-child(16n-8) {
			text-align: left
		}

		.multi-item {
			width: 163px !important;
		}


		.select2-selection__choice {
			line-height: 21px;
		}

		.btn.btn-primary.toggle-on {
			display: block;
			line-height: 28px;
		}

		.btn.btn-primary.toggle-off {
			display: block;
			line-height: 28px;
		}

		.toggle-off {
			display: block;
			line-height: 28px;
		}
	</style>
	<script>
		$(document).ready(function () {  
			oNguoiDung = new NguoiDungView()
			CurrentLayout = "USER"
			$('.modal').on('show.bs.modal', function (e) {
				$('.modal .dangnhap').css('width', window.innerWidth).css('height', '500px')
				$('.modal div[role="document"]').css('width', '100%').css('margin-left', 0).css('margin', 0)
				//$('.modal .modal-body').css('width', window.innerWidth).css('height', Number(window.innerHeight) - Number($('.modal-header').height()))
			}) 
		})
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#pass").keyup(function () {
				check_pass();
			});
		});

		function check_pass() {
			var val = document.getElementById("pass").value;
			var meter = document.getElementById("meter");
			var no = 0;
			if (val != "") {
				// If the password length is less than or equal to 6
				if (val.length <= 6) no = 1;

				// If the password length is greater than 6 and contain any lowercase alphabet or any number or any special character
				if (val.length > 6 && (val.match(/[a-z]/) || val.match(/\d+/) || val.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/))) no = 2;

				// If the password length is greater than 6 and contain alphabet,number,special character respectively
				if (val.length > 6 && ((val.match(/[a-z]/) && val.match(/\d+/)) || (val.match(/\d+/) && val.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/)) || (val.match(/[a-z]/) && val.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/)))) no = 3;

				// If the password length is greater than 6 and must contain alphabets,numbers and special characters
				if (val.length > 6 && val.match(/[a-z]/) && val.match(/\d+/) && val.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/)) no = 4;

				if (no == 1) {
					$("#meter").animate({ width: '50px' }, 300);
					meter.style.backgroundColor = "red";
					document.getElementById("pass_type").innerHTML = "Very Weak";
				}

				if (no == 2) {
					$("#meter").animate({ width: '100px' }, 300);
					meter.style.backgroundColor = "#F5BCA9";
					document.getElementById("pass_type").innerHTML = "Weak";
				}

				if (no == 3) {
					$("#meter").animate({ width: '150px' }, 300);
					meter.style.backgroundColor = "#FF8000";
					document.getElementById("pass_type").innerHTML = "Good";
				}

				if (no == 4) {
					$("#meter").animate({ width: '200px' }, 300);
					meter.style.backgroundColor = "#00FF40";
					document.getElementById("pass_type").innerHTML = "Strong";
				}
			}

			else {
				meter.style.backgroundColor = "white";
				document.getElementById("pass_type").innerHTML = "";
			}
		}
	</script>

</head>

<body>
	<div layout:fragment="content">
		<div class="row" style="margin-top:10px">
			<div class="col-sm-12" style="margin:0px">

				<div class="row panel panel-primary" id="LIST">
					<div class="panel-heading">Quản lý người dùng</div>
					<div class="panel-body">

						<table class="table table-striped table-bordered table-hover table-columned text-center"
							id="Grid01">
							<thead>
								<tr>
									<!-- <th style="width:10px"><input type="checkbox" name="name" value="" /></th> -->
									<th style="width:60px">STT</th>
									<th style="width:120px;">Tài khoản </th>
									<th style="width:120px;">Email</th>
									<th style="width:120px;">Vai trò</th>
									<th style="width:120px;">Số điện thoại</th>
									<th style="width:125px;">Địa bàn</th>
									<th style="width:120px;">Ngày tạo</th>
									<th style="width:120px;">Người tạo</th>
								</tr>
							</thead>

						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div role="document" style="width: 85%;margin-left: 8%;">
				<div class="modal-content" style="height: 500px">
					<div class="modal-header" style="display: flex ;">
						<h5 style="width: 99%" class="modal-title" id="exampleModalLongTitle">Phân quyền</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="height: 400px;overflow-x: hidden;
					overflow-y: scroll;">
						<div style="display: flex ">
							<div class="container">
								<h1>PHÂN QUYỀN MENU</h1>
								<div id="treeMenu"></div>
							</div>
							<div class="container">
								<h1>PHÂN QUYỀN BÁO CÁO</h1>
								<div id="treeBC"></div>
							</div>

							<div class="container">
								<h1>PHÂN QUYỀN CHỨC NĂNG</h1>
								<div id="treeChucnang"></div>
							</div>
						</div>
					</div>
					<div style="text-align: right;padding-right: 15px;">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
						<button type="button" class="btn btn-primary btnSave">Lưu</button>
					</div>
					<script src="/qln/public/skinqln/js/simTree.js"></script>
					<script type="text/javascript" src="/qln/public/js/qln/model/NguoiDung.js"></script>
				</div>
			</div>
		</div>
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
			aria-hidden="true">
			<div role="document" style="width: 85%;margin-left: 8%;">
				<div class="modal-content dangnhap" style="height: 658px !important;">
					<div class="modal-header" style="display: flex ;">
						<h5 style="width: 99%" class="modal-title" id="exampleModalLongTitle">Thêm mới tài khoản</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="height: 300px;overflow-x: hidden;
					overflow-y: scroll;">
						<div class="modal-body" style="height: 80%;">
							<div class="brow" style="margin-top: 20px">
								<div class="row" id="FORM">
									<div class="row" style="margin-bottom: 10px;">
										<div class="col-sm-2"><label>Tên đăng nhập<span
													class="require">(*)</span></label>
										</div>
										<div class="col-sm-4 ">
											<input required type="text" class="form-control validate-form" name="MA"
												id="USERNAME" autocomplete="off" value="" />
										</div>
										<div class="col-sm-2 labelmk"><label>Mật khẩu</label></div>

										<div class="col-sm-4 inputmk">
											<input type="password" class="form-control" name="name" id="PASSWORD" value=""
												autocomplete="off" />
										</div>
									</div>
									<div class="row" style="margin-bottom: 10px;">
										<div class="col-sm-2"><label>Tên đầy đủ</label>
										</div>
										<div class="col-sm-4 ">
											<input required type="text" class="form-control validate-form" name="MA"
												id="FULLNAME" autocomplete="off" value="" />
										</div>
										<div class="col-sm-2"><label>Số hiệu kho bạc</label></div>
										<div class="col-sm-4">
											<input class="form-control" name="name" id="SOHIEUKHOBAC" value=""
												autocomplete="off" />
										</div>
									</div>
									<div class="row" style="margin-bottom: 10px;">
										<div class="col-sm-2"><label>Email</label></div>
										<div class="col-sm-4">
											<input type="text" class="form-control" name="name" id="EMAIL" value=""
												autocomplete="off" />
										</div>
										<div class="col-sm-2"><label>Số điện thoại</label></div>
										<div class="col-sm-4">
											<input type="number" class="form-control" name="name" id="PHONENUMBER"
												value="" autocomplete="off" />
										</div>
									</div>
									<div class="row" style="margin-bottom: 10px;">
										<div class="col-sm-2" id="labeldonvi"><label>Đơn vị</label></div>
										<div class="col-sm-4">
											<select id="DONVI" class="form-control" value="">
											</select>
										</div>
										<div class="col-sm-2"><label>Cấp Quyền</label></div>
										<div class="col-sm-4">
											<select id="LEVEL" class="form-control" value="">
											</select>
										</div>
									</div>
									<div class="row" id='tinhthanhselect' style="margin-bottom: 10px;">
										<div class="col-sm-2" id="labeltinhthanh"><label>TỈnh/Thành Phố</label></div>
										<div class="col-sm-10">
											<select id="TINHTHANHID" class="js-example-programmatic-multi"
												name="states[]" multiple="multiple" style="width: 100%">
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4" style="display: inline-block; position: absolute; ">
											<input type="checkbox" id="CHKNHANTHONGBAO" data-toggle="toggle" data-on="Bật" data-off="Tắt" />
											<label>Nhận thông báo về email</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="text-align: right;padding-right: 15px;">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
						<button type="button" class="btn btn-primary btn2Save">Lưu</button>
					</div>
				</div>
				<!-- <p id="heading">Password Strength Checker Using jQuery and CSS</p>
				<input type="password" id="pass" placeholder="Enter Your Password">
				<div id="meter_wrapper">
					<div id="meter"></div>
				</div>
				<br>
				<span id="pass_type"></span> -->
				<script src="/qln/public/skinqln/js/simTree.js"></script>
				<script type="text/javascript" src="/qln/public/js/qln/model/NguoiDung.js"></script>
			</div>
		</div>
	</div>
</body>

</html>