<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-2">
				<label>Nhóm người dùng</label>
			</div>
			<div class="col-md-10">
				<select class="form-control" id="selRoles"></select>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-2">
				<label>Chức năng</label>
			</div>
			<div class="col-md-10">
				<select class="form-control" id="selRoles"></select>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-2">
				<label>Loại</label>
			</div>
			<div class="col-md-10">
				<select class="form-control" id="selRoles"></select>
			</div>
		</div>
	
		<div class="row pull-right ACTIONS" style="padding:10px; margin-top:0px;">
			<button type="button" class="btn btn-info" id="btnLuu"><i class="glyphicon glyphicon-save"></i> Lưu</button>
			<button type="button" class="btn btn-info"><i class="glyphicon glyphicon-backward"></i> Quay lại</button>
		</div>
	</div>
</body>

</html>